
  .s-bar{
    padding: 0px 0px 20px 0px;
    
  }
  ion-grid{
    padding: 0px;
  }
  ion-col{
      padding-top: 0px;
  }
  .padding-none {
    padding: 0px;
  }
  .rotate-90 {
    display: inline-block; 
    transform: rotate(45deg);
  }
  .rotate-0{
    display: inline-block; 
    transform: rotate(-45deg);
  }
  .bg-color{
    --ion-background-color: rgb(245, 245, 245);
  }
  ion-item{
    --ion-background-color: #fff;
  }
  input{
    outline: 0;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
  }
  input:disabled {
  cursor: not-allowed;
  }
  
  ion-icon {
    color: #e9182d;
  }
  .label{
    font-size: 20px;
    font-weight: 500;
  }
  ion-text {
    color: #e9182d;
    font-weight: 500;
    cursor: pointer;
  }


  .submit-btn {
    width: 100%;
    padding: 16px 0px;
    background: #e9182d;
    color: white;
    font-size: 15px;
    font-family: serif;
    border: none;
    font-weight: 500;
    opacity: .8;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    letter-spacing: 2px;
  }
  
  .submit-btn:hover{
    opacity: 1;
  }
  .tp_mgn{
    padding: 20px 0px 0px 0px;
  }
  
  
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
 
  .err{
    padding: 20px 0px 0px 15px;
    color:red;
    font-size: 11px;
  }

 
  fieldset {
   border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  padding: 0px 15px;
   }
  legend{
    color: #000;
    font-weight: 400;
  }
  .border{
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 7px 0px 0px 0px;
    margin: 18px 0px 0px 40px;
    cursor: pointer;
    border: 1px solid #e9182d;
  }
  

    @media only screen and (max-width: 767px ) {
      .none{
        display: none;
      }
      .border{
  
        text-align: center;
    border-radius: 50%;
    padding: 5px 0px 0px 0px;
    margin: 18px 0px 0px 0px;
    cursor: pointer;
    border: 1px solid #0d2c4f;
      }
      .p-margin{
        margin: 0px 0px 0px 150px;
      }
      .R-label{
        font-weight: 500;
        font-size: 16px;
      }
      .label{
        font-size: 17px;
        font-weight: 500;
      }
      input::placeholder{
        font-size: 14px;
      }
      .FTH {
    
        font-size: 14px;
    
      }
      .for-app {
        padding: 60px 10px 80px 10px;
      }
    
    }
  
  @media only screen and (max-width: 425px ) {
    .R-label{
      font-weight: 500;
      font-size: 13px;
    }
    .label{
      font-size: 17px;
      font-weight: 500;
    }
    input::placeholder{
      font-size: 14px;
    }
    .FTH {
  
      font-size: 16px;
  
    }
    .for-app {
      padding: 60px 10px 80px 10px;
    }
  
  }