<ion-content class="padding-none bg-color">
 
  <ion-grid class=" for-app img">
    <ion-row color="primary" justify-content-center class="s-bar img-B">

      <ion-col size-md="1" size-lg="1" size-xl="1" class="ion-padding-top"></ion-col>
      <ion-col size-sm="12" size-xs="12" size-md="8" size-lg="7" size-xl="5" class="padding-none">

        <ion-row color="primary" justify-content-center>
          <ion-col size-sm="9" size-xs="9 " size-md="3" size-lg="3" size-xl="2"></ion-col>
          <ion-col size-sm="3" size-xs="3" size-md="3" size-lg="3" size-xl="2" class="FTH round-l round-r2"
            (click)="R_Onw_Way()" [ngClass]="[isAfterOW?'FTHActive':'!FTHActive']">
            <!-- <span class="material-icons rotate-90">flight</span> Flight -->One Way
          </ion-col>
          <ion-col size-sm="3" size-xs="3" size-md="3" size-lg="3" size-xl="2" class="FTH " (click)="R_Round_Trip()"
            [ngClass]="[ isAfterRT?'FTHActive':'!FTHActive']">
            <!-- <span class="material-icons">train</span>Trains -->Round Trip
          </ion-col>
          <ion-col size-sm="3" size-xs="3" size-md="3" size-lg="3" size-xl="2" class=" FTH " (click)="R_Multi_Trip()"
            [ngClass]="[ isAfterMT?'FTHActive':'!FTHActive']">
            <!-- <span class="material-icons">local_hotel</span> Hotels -->Multi Trip
          </ion-col>
          <ion-col size-sm="3" size-xs="3" size-md="3" size-lg="3" size-xl="2" class=" FTH " (click)="R_Round_Special()"
            [ngClass]="[ isAfterRS?'FTHActive':'!FTHActive']">
            <!-- <span class="material-icons">local_hotel</span> Hotels -->Round Special
          </ion-col>
          <ion-col size-sm="3" size-xs="3" size-md="3" size-lg="3" size-xl="2" class=" FTH side round-r "
            (click)="R_Advance_Trip()" [ngClass]="[ isAfterAT?'FTHActive':'!FTHActive']">
            <!-- <span class="material-icons">local_hotel</span> Hotels -->Advance Trip
          </ion-col>
        </ion-row>

        <ion-card class="SB ion-padding">
          <form [formGroup]="flightData" (ngSubmit)="checkFlight()">

            <!-- ONE WAY    ROUND TRIP ADVANCE TRIP  -->
            <ion-row color="primary" justify-content-center class="tp_mgn" *ngIf="multi_trip">
              <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <ion-row>
                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon class="rotate-0" name="airplane-outline"></ion-icon> FROM
                      </legend>
                      <input formControlName="D_airport" list="D_airport"  [(ngModel)]="depARP"
                        placeholder="DEL, Delhi, India">
                    </fieldset>

                    <datalist id="D_airport">
                      <option *ngFor="let arpt of arp">{{arpt.code}} , {{arpt.city}} , {{arpt.country}}</option>
                    </datalist>
                    <ion-text *ngIf="Error.D_airport.touched || Error.D_airport.dirty">
                      <span class="err" *ngIf="Error.D_airport.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>

                  <ion-col class="p-margin none" size-sm="4" size-xs="4" size-md="2" size-lg="2" size-xl="2">
                    <div class="border" (click)="swap_city()">
                      <ion-icon size="small" name="swap-horizontal-outline"></ion-icon>
                    </div>
                  </ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon class="rotate-90" name="airplane-outline"></ion-icon> TO
                      </legend>
                      <input formControlName="A_airport" list="A_airport" [(ngModel)]="arrARP"
                        placeholder="Bom, Mumbai, India">
                    </fieldset>
                    <datalist id="A_airport">
                      <option *ngFor="let arpt_new of arp_new">{{arpt_new.code}} , {{arpt_new.city}} ,
                        {{arpt_new.country}}</option>
                    </datalist>
                    <ion-text *ngIf="Error.A_airport.touched || Error.A_airport.dirty">
                      <span class="err" *ngIf="Error.A_airport.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon name="calendar-outline"></ion-icon> DEPARTURE DATE
                      </legend>
                      <input style="width: 80%;" matInput [min]="todayt" [matDatepicker]="picker" (click)="picker.open()"
                        formControlName="D_date" placeholder="{{todayt}}" (dateChange)="returnDate($event.target.value)" [max]=" maxDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </fieldset>
                    <ion-text *ngIf="Error.D_date.touched || Error.D_date.dirty">
                      <span class="err" *ngIf="Error.D_date.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>

                  <ion-col size-md="2" size-lg="2" size-xl="2"></ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset >
                      <legend>
                        <ion-icon name="calendar-outline"></ion-icon> RETURN DATE
                      </legend>
                      <input style="width: 80%;" matInput formControlName="A_date"  [min]="minDate" (click)="picker1.open()"
                        placeholder="{{todayt}}" [matDatepicker]="picker1"
                        (dateChange)="returnDateMax($event.target.value)" [disabled]="!round_trip">
                      <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </fieldset>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
                <fieldset>
                  <legend>Adults</legend>
                  <mat-select formControlName="Adults" value="1" [(ngModel)]="d_Adult">
                    <mat-option value="1" >
                     1
                    </mat-option>
                    <mat-option value="2">
                     2
                    </mat-option>
                    <mat-option value="3">
                     3
                    </mat-option> 
                  </mat-select>
                </fieldset>
                <span style="margin-left: 10px;font-size: 10px; color: #445f99;">Age 12 above</span>
              </ion-col>

              <!-- <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col> -->

              <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
                <fieldset>
                  <legend>Childs</legend>
                  <mat-select formControlName="Childs" value="0" [(ngModel)]="d_Child">
                    <mat-option value="0">
                     0
                    </mat-option>
                    <mat-option value="1">
                     1
                    </mat-option>
                    <mat-option value="2">
                     2
                    </mat-option> 
                  </mat-select>
                </fieldset>
                <span style="margin-left: 10px;font-size: 10px; color: #445f99;">Age 2 - 12 </span>
              </ion-col>


              <!-- <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col> -->

              <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
                <fieldset>
                  <legend>Infants</legend>
                  <mat-select formControlName="Infants" value="0" [(ngModel)]="d_Infants">
                    <mat-option value="0">
                     0
                    </mat-option>
                    <mat-option value="1">
                     1
                    </mat-option>
                    <mat-option value="2">
                     2
                    </mat-option> 
                  </mat-select>
                </fieldset>
                <span style="margin-left: 10px;font-size: 10px; color: #445f99;">Age 0 - 2</span>
              </ion-col>

              <ion-col size-sm="6" size-xs="6" size-md="8" size-lg="8" size-xl="9"> </ion-col>
              <ion-col size-sm="6" size-xs="6" size-md="4" size-lg="4" size-xl="3">
                <ion-text (click)="moreFields=!moreFields" style=" color: #445f99;">
                  More Options
                </ion-text>
                <ion-icon name="caret-down-outline" *ngIf="!moreFields" style=" color: #445f99;"></ion-icon>
                <ion-icon name="caret-up-outline" *ngIf="moreFields" style=" color: #445f99;"></ion-icon>
              </ion-col>

              <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" *ngIf="moreFields">
                <fieldset>
                  <legend>Select Preferred Class</legend>
                  <input formControlName="PClass" list="p_class" placeholder="Economy">
                </fieldset>
                <datalist id="p_class">
                  <option *ngFor="let class_all of F_class">{{class_all}}</option>
                </datalist>
              </ion-col>

              <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="6" *ngIf="moreFields">
                <fieldset>
                  <legend>Select Preferred Flight</legend>
                  <input formControlName="PFlight" list="p_flight" placeholder="All">
                </fieldset>
                <datalist id="p_flight">
                  <option *ngFor="let pflight of F_flights">{{pflight}}</option>
                </datalist>
              </ion-col>

              <ion-col size-md="4" size-lg="4" size-xl="4"></ion-col>
              <ion-col size-sm="12" size-xs="12" size-md="4" size-lg="4" size-xl="4">
                <button class="submit-btn" type="submit"  [disabled]="!flightData.valid">
                  <span class="material-icons">search</span> Search Flight
                </button>
              </ion-col>

            </ion-row>

          </form>






































          <form [formGroup]="flightData" (ngSubmit)="checkFlightM()">
            <!-- MULTI TRIP -->
            <ion-row color="primary" justify-content-center *ngIf="!multi_trip">
              <ion-col size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">

                <ion-row style="border-bottom:2px solid red">
                  <ion-col size-sm="4" size-xs="4" size-md="2" size-lg="2" size-xl="2" *ngFor="let x of mfArray">
                    <ion-text>Flight {{x}} <ion-icon name="close" *ngIf="x>2"></ion-icon>
                    </ion-text>
                  </ion-col>
                  <ion-col size-sm="4" size-xs="4" size-md="2" size-lg="2" size-xl="2">
                    <ion-text (click)="addQuantity()">Add Flight <ion-icon name="add-circle-outline"></ion-icon>
                    </ion-text>
                  </ion-col>
                </ion-row>

                <ion-row class="tp_mgn2" *ngFor="let course of quantities.controls; index as i">
                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon class="rotate-0" name="airplane-outline"></ion-icon> FROM
                      </legend>
                      <input formControlName="D_airport" list="D_airport" (change)="removeAirport($event.target.value)"
                        placeholder="DEL, Delhi, India">
                    </fieldset>

                    <datalist id="D_airport">
                      <option *ngFor="let arpt of arp">{{arpt.code}} , {{arpt.city}} , {{arpt.country}}</option>
                    </datalist>
                    <ion-text *ngIf="Error.D_airport.touched || Error.D_airport.dirty">
                      <span class="err" *ngIf="Error.D_airport.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>

                  <ion-col class="p-margin none" size-sm="4" size-xs="4" size-md="2" size-lg="2" size-xl="2">
                    <div class="border">
                      <ion-icon size="small" name="swap-horizontal-outline"></ion-icon>
                    </div>
                  </ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon class="rotate-90" name="airplane-outline"></ion-icon> TO
                      </legend>
                      <input formControlName="A_airport" list="A_airport"
                        (change)="removeAirportDep($event.target.value)" placeholder="Bom, Mumbai, India">
                    </fieldset>
                    <datalist id="A_airport">
                      <option *ngFor="let arpt_new of arp_new">{{arpt_new.code}} , {{arpt_new.city}} ,
                        {{arpt_new.country}}</option>
                    </datalist>
                    <ion-text *ngIf="Error.A_airport.touched || Error.A_airport.dirty">
                      <span class="err" *ngIf="Error.A_airport.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>



                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset>
                      <legend>
                        <ion-icon name="calendar-outline"></ion-icon> DEPARTURE DATE
                      </legend>
                      <input style="width: 80%;" matInput [min]="todayt" [matDatepicker]="picker"
                        formControlName="D_date" placeholder="{{todayt}}" (change)="returnDate($event.target.value)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </fieldset>
                    <ion-text *ngIf="Error.D_date.touched || Error.D_date.dirty">
                      <span class="err" *ngIf="Error.D_date.errors">* Required Field</span>
                    </ion-text>
                  </ion-col>

                  <ion-col size-md="2" size-lg="2" size-xl="2"></ion-col>

                  <ion-col size-sm="12" size-xs="12" size-md="5" size-lg="5" size-xl="5">
                    <fieldset [disabled]="!round_trip">
                      <legend>
                        <ion-icon name="calendar-outline"></ion-icon> RETURN DATE
                      </legend>
                      <input formControlName="A_date" type="date" [min]="minDate" placeholder="{{todayt}}"
                        (change)="returnDateMax($event.target.value)">
                    </fieldset>
                  </ion-col>


                  <ion-col size-xs="3" size-sm="3" size-md="4" size-lg="4" size-xl="4">
                    <fieldset>
                      <legend>Adults</legend>
                      <ion-select formControlName="Adults" [(ngModel)]="d_Adult" interface="popover" mode="ios">
                        <ion-select-option *ngFor="let adt of adult">{{adt}}</ion-select-option>
                      </ion-select>
                    </fieldset>
                    <span style="margin-left: 10px;font-size: 10px; color: red;">Age 12 above</span>

                  </ion-col>

                  <!-- <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col> -->

                  <ion-col size-xs="3" size-sm="3" size-md="3" size-lg="4" size-xl="4">
                    <fieldset>
                      <legend>Childs</legend>
                      <ion-select formControlName="Childs" [(ngModel)]="d_Child" interface="popover" mode="ios">
                        <ion-select-option *ngFor="let chd of childrens">{{chd}}</ion-select-option>
                      </ion-select>
                    </fieldset>
                    <span style="margin-left: 10px;font-size: 10px; color: red;">Age 2 - 12 </span>

                  </ion-col>

                  <!-- <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col> -->

                  <ion-col size-xs="3" size-sm="3" size-md="4" size-lg="4" size-xl="4">
                    <fieldset>
                      <legend>Infants</legend>
                      <ion-select formControlName="Infants" [(ngModel)]="d_Infants" interface="popover" mode="ios">
                        <ion-select-option *ngFor="let inf of infants">{{inf}}</ion-select-option>
                      </ion-select>
                    </fieldset>
                    <span style="margin-left: 10px;font-size: 10px; color: red;">Age 0 - 2</span>

                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size-md="4" size-lg="4" size-xl="4"></ion-col>
              <ion-col size-md="4" size-lg="4" size-xl="4">
                <button class="submit-btn" type="submit">
                  <span class="material-icons">search</span> Search Flight
                </button>
              </ion-col>

            </ion-row>













          </form>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-slides [options]="slideOpts" pager="true">
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/1.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/2.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/3.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/4.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/5.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/6.jpg?ver=1624949818190">
      </ion-slide>
      <ion-slide>
        <img src="https://kafilaholidays.in/upload/7.jpg?ver=1624949818190">
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>