<ion-content>
  <ion-card class="top-p">
    <ion-grid>

      <form>
        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="12" size-lg="12" size-xs="12">
            <ion-radio-group>
              <ion-radio value="1" (click)="show==0?show=0:show=0"></ion-radio>
              <ion-label>One way</ion-label>              
              <ion-radio value="2" (click)="show==1?show=1:show=1"></ion-radio>
              <ion-label>Round Trip</ion-label>             
              <ion-radio value="3" (click)="show==1?show=1:show=1"></ion-radio>
              <ion-label>Multi Trip</ion-label>
            </ion-radio-group>
          </ion-col>
        </ion-row>

        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item>
              <ion-label position="floating">Select Departure City</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item >
              <ion-label position="floating">Select Arrival City</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item>
              <ion-label position="floating">Select Departure Date</ion-label>          
              <ion-datetime  ></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item *ngIf="show">
              <ion-label position="floating">Select Arrival Date</ion-label>
              <ion-datetime  ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item>
              <ion-label position="floating">Select Preferred Class</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-md="5" size-lg="5" size-xs="12">
            <ion-item>
              <ion-label position="floating">Select Preferred Flight</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-item>
              <ion-label>Adults</ion-label>
              <ion-select>
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
              </ion-select>
            </ion-item>            
          </ion-col>
          <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-item>
              <ion-label>Childs</ion-label>
              <ion-select>
                <ion-select-option value="0">0</ion-select-option>
                <ion-select-option value="1">1</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-col>
          <ion-col size-md="2" size-lg="2" size-xs="4">
            <ion-item>
              <ion-label>Infants</ion-label>
              <ion-select>
                <ion-select-option value="0" >0</ion-select-option>
                <ion-select-option value="1">1</ion-select-option>
              </ion-select>
            </ion-item> 
          </ion-col>
        </ion-row>

        <ion-row color="primary" justify-content-center class="ion-padding">
          <ion-col size-md="4" size-lg="3" size-xs="12">
            <button class="submit-btn" type="submit"><span class="material-icons">search</span> Search Flights</button>
          </ion-col>
        </ion-row>

      </form>
    </ion-grid>
  </ion-card>
</ion-content>