<ion-grid style="padding:50px 0px; " class="back-c">
  <ion-row>
    <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10" size-xl="10">
      <ion-row>

        <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4"></ion-col>

        <ion-col style="text-align: center; border-bottom: 2px solid red;" size-xs="12" size-sm="12" size-md="4"
          size-lg="4" size-xl="4">
          <p class="c-Header">Top Destinations </p>
        </ion-col>

        <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4"></ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/delhi.jpg">
              <ion-text>New Delhi</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>With so many lovely places to visit and thrilling Things to Do in Delhi, no one can deny the
                perks of travelling to this amazing destination in India. You have everything here, from romantic to
                family-friendly spots and fun spaces for shopping or eating to socializing hubs. And on top of it,
                the endless options of great accommodation in Delhi only add to the charm.</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/mumbai.jpg">
              <ion-text>Mumbai</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>Mumbai, the city where dreams are made and fulfilled! If you
                are planning a trip to Mumbai, make sure you visit the right places to imbibe the dynamic
                effervescence of this city. To help you with that, we have listed down some of the amazing places
                visit in Mumbai, which will make you fall in love with this extravagant city over and over again.
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/goa.jpg">
              <ion-text>Goa</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>This fun capital of India boasts of sun-kissed beaches, palm trees, cashew plantations,
                centuries old monuments, the epic Goan fish curry rice, cashew fenny, festivals, flea markets, Santa
                Monica Cruise Ride, Spice Farms and what not!!! Dance the night away to the vibrant beats of Trance
                in the nightlife of Goa and wake up to the most serene sunrises on the calm beaches.</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/amritsar.jpg">
              <ion-text>Amritsar</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>A trip to Amritsar is like striking travel gold. The largest urban area in Punjab, Amritsar
                is one of India's most deeply spiritual cities. Tens of thousands of devout Sikhs and cultural
                tourists alike make a pilgrimage to Amritsar every day for one main reason: A visit to the famous
                Golden Temple. </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/chennai.jpg">
              <ion-text>Chennai</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>Being one of the biggest economic and educational centres of South India, Chennai has become
                one of the top places for IT firms and many other businesses to flourish. We’re sure that you too
                must have visited this ever-hustling city at least once for official work or are going to in near
                future!</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content">
              <img alt="logo" class="t-spot" src="../assets/jaipur.jpg">
              <ion-text>Jaipur</ion-text>
            </ion-card-content>

            <ion-card-content class="padding cb-content">
              <ion-text>Jaipur, the Pink City of India, is an exotic destination, to say the least. From royal
                palaces to peppy pubs and from regal forts to plush restaurants, the city offers a fascinating mix
                of attractions for an avid traveler. A quality that’s inherent to Rajasthan’s imperial culture and
                heritage.</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>




<ion-grid style="padding:50px 0px;" class="back-c">
  <ion-row>
    <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10" size-xl="10">
      <ion-row>
        <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4">
        </ion-col>
        <ion-col style="text-align: center; border-bottom: 2px solid red;" size-xs="12" size-sm="12" size-md="4"
          size-lg="4" size-xl="4">
          <p class="c-Header">Holiday Packages</p>
        </ion-col>
        <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4">
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card >
            <ion-card-content class="justify c-content" style="cursor: pointer;">
              <img alt="logo" class="t-spot" src="../assets/azure.jpg">
              <ion-text>Hotel Azzure By Spree, Velha Goa </ion-text>
            </ion-card-content>
            <ion-card-content class="padding cb-content">
              <ion-text>The hotel is a stone's throw away from Baga beach surrounded by lush green hills</ion-text>
            </ion-card-content>
            <ion-button size="small">see more</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content " style="cursor: pointer;">
              <img alt="logo" class="t-spot" src="../assets/andaman.jpg">
              <ion-text>Water villa Andaman & Nicobar</ion-text>
            </ion-card-content>
            <ion-card-content class="padding cb-content">
              <ion-text>The Andaman Islands are known for their palm-lined, white-sand beaches and tropical
                rainforests</ion-text>
            </ion-card-content>
            <ion-button size="small">see more</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content" style="cursor: pointer;">
              <img alt="logo" class="t-spot" src="../assets/acaia.jfif">
              <ion-text>The Acacia Hotel & Spa Goa
              </ion-text>
            </ion-card-content>
            <ion-card-content class="padding cb-content">
              <ion-text>Our hotels and resorts offer unsurpassed levels of hospitality and comfort comfort
              </ion-text>
            </ion-card-content>
            <ion-button size="small">see more</ion-button>
          </ion-card>
        </ion-col>


        <ion-col size-md="2" size-lg="2" size-xl="2"></ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <ion-card>
            <ion-card-content class="justify c-content" style="cursor: pointer;">
              <img alt="logo" class="t-spot" src="../assets/acaia.jfif">
              <ion-text>The Acacia Hotel & Spa Goa
              </ion-text>
            </ion-card-content>
            <ion-card-content class="padding cb-content">
              <ion-text>Our hotels and resorts offer unsurpassed levels of hospitality and comfort</ion-text>
            </ion-card-content>
            <ion-button size="small">see more</ion-button>
          </ion-card>
        </ion-col>

        <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4" class=" none2 none3">
          <ion-card>
            <ion-card-content class="justify c-content" style="cursor: pointer;">
              <img alt="logo" class="t-spot" src="../assets/acaia.jfif">
              <ion-text>The Acacia Hotel & Spa Goa
              </ion-text>
            </ion-card-content>
            <ion-card-content class="padding cb-content">
              <ion-text>Our hotels and resorts offer unsurpassed levels of hospitality and comfort</ion-text>
            </ion-card-content>
            <ion-button size="small">see more</ion-button>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>








<ion-grid style="padding:50px 0px;" class="back-c">
  <ion-row>
    <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" size-xl="1">
    </ion-col>
    <ion-col style="text-align: center; " size-xs="12" size-sm="12" size-md="10" size-lg="10" size-xl="10">
      <ion-card style="padding-bottom: 50px;">
        <ion-row>
          <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4">
          </ion-col>
          <ion-col style="text-align: center; border-bottom: 2px solid red;" size-xs="12" size-sm="12" size-md="4"
            size-lg="4" size-xl="4">
            <p class="c-Header">Our Services</p>
          </ion-col>
          <ion-col style="text-align: center;" size-md="4" size-lg="4" size-xl="4">
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding-top">
            <ion-row class="ion-padding-top" style="padding-top: 50px;">
              <ion-col size-xs="4" size-sm="4" size-md="6" size-lg="6" size-xl="6" class="ion-text-centre">
                <img alt="logo" class="t-spot" src="../assets/flightimg.jpg" >
                <p>Flight Ticketing
                </p>
              </ion-col>
              <ion-col size-xs="8" size-sm="8" size-md="6" size-lg="6" size-xl="6" class="ion-text-centre"
                style="padding-top: 30px;">
               
                <p class="s-text">
                  The popular airlines include <b>Vistara </b>, <b>GoAir</b> ,<b> Air India </b>, <b> SpiceJet
                  </b>, <b> AirAsia </b>and<b> IndiGo </b>. For
                  instance, if you want to do a web check-in with GoAir, you can click on the GoAir web
                  check-in link. This will lead you to the web check-in button which will open up on GoAir’s
                  official website where you can enter your airline PNR, and last name or email id and begin
                  the check-in process.
                </p>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding-top">
            <ion-row class="ion-padding-top" style="padding-top: 50px;">

              <ion-col size-xs="8" size-sm="8" size-md="6" size-lg="6" size-xl="6" class="ion-text-centre"
                style="padding-top: 30px;">
              
                <p class="s-text">
                  The popular airlines include <b>Vistara </b>, <b>GoAir</b> ,<b> Air India </b>, <b> SpiceJet
                  </b>, <b> AirAsia </b>and<b> IndiGo </b>. For
                  instance, if you want to do a web check-in with GoAir, you can click on the GoAir web
                  check-in link. This will lead you to the web check-in button which will open up on GoAir’s
                  official website where you can enter your airline PNR, and last name or email id and begin
                  the check-in process.
                </p>
              </ion-col>
              <ion-col size-xs="4" size-sm="4" size-md="6" size-lg="6" size-xl="6"  class="ion-text-centre">
                <img alt="logo" class="t-spot" src="../assets/trainimage.jpg" >
                <p>Train Ticketing</p>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding-top">
            <ion-row class="ion-padding-top" style="padding-top: 50px;">
              <ion-col size-xs="4" size-sm="4" size-md="6" size-lg="6" size-xl="6"  class="ion-text-centre">
                <img alt="logo" class="t-spot" 
                  src="https://c4.wallpaperflare.com/wallpaper/360/515/601/night-in-las-vegas-bellagio-luxury-hotel-casino-hd-wallpapers-for-mobile-phones-laptops-and-pc-1920%C3%971080-wallpaper-preview.jpg">
                  <p>Hotels Booking
                  </p>
              </ion-col>
              <ion-col size-xs="8" size-sm="8" size-md="6" size-lg="6" size-xl="6" class="ion-text-centre"
                style="padding-top: 30px;">
                
                <p class="s-text">
                  The popular airlines include <b>Vistara </b>, <b>GoAir</b> ,<b> Air India </b>, <b> SpiceJet
                  </b>, <b> AirAsia </b>and<b> IndiGo </b>. For
                  instance, if you want to do a web check-in with GoAir, you can click on the GoAir web
                  check-in link. This will lead you to the web check-in button which will open up on GoAir’s
                  official website where you can enter your airline PNR, and last name or email id and begin
                  the check-in process.
                </p>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding-top">
            <ion-row class="ion-padding-top" style="padding-top: 50px;">

              <ion-col size-xs="8" size-sm="8" size-md="6" size-lg="6" size-xl="6" class="ion-text-centre"
                style="padding-top: 30px;">
                
                <p class="s-text">
                  The popular airlines include <b>Vistara </b>, <b>GoAir</b> ,<b> Air India </b>, <b> SpiceJet
                  </b>, <b> AirAsia </b>and<b> IndiGo </b>. For
                  instance, if you want to do a web check-in with GoAir, you can click on the GoAir web
                  check-in link. This will lead you to the web check-in button which will open up on GoAir’s
                  official website where you can enter your airline PNR, and last name or email id and begin
                  the check-in process.
                </p>

              </ion-col>
              <ion-col size-xs="4" size-sm="4" size-md="6" size-lg="6" size-xl="6"  class="ion-text-centre">
                <img alt="logo" class="t-spot" src="../assets/apiimage.jpg" >
                <p>API
                </p>
              </ion-col>
            </ion-row>

          </ion-col>


        </ion-row>
      </ion-card>


    </ion-col>
  </ion-row>
</ion-grid>












<ion-grid style="padding:50px 0px;" class="back-c">
  <ion-row>
    <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" size-xl="1">

    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="10" size-xl="10">
      <ion-card style="padding-bottom: 50px;">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">

          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4"
            style="text-align: center; border-bottom: 2px solid red;">
            <p class="c-Header">Most Searchable Sector</p>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">

          </ion-col>



          <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4" style="margin-top:50px;">
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline" ></ion-icon> To Delhi
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Goa</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Mumbai
                  </p>
                  <p class=" mss-content-2">From : Delhi, Pune, Bangalore, Goa</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Pune
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Delhi, Bangalore, Goa</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>


            </ion-list>
          </ion-col>

          <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4" style="margin-top:50px;">
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Bangalore
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Delhi, Bangalore, Goa</p>
                </ion-label>
              </ion-item>



              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Jaipur
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>



              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-col>

          <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4" style="margin-top:50px;" class=" none2 none3">
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Bangalore
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Delhi, Bangalore, Goa</p>
                </ion-label>
              </ion-item>



              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Jaipur
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>



              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <p class=" mss-content">
                    <ion-icon size="small" name="chevron-forward-outline"></ion-icon> To Kolkata
                  </p>
                  <p class=" mss-content-2">From : Mumbai, Pune, Bangalore, Delhi</p>
                </ion-label>
              </ion-item>

            </ion-list>
          </ion-col>


        </ion-row>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
   <!-- FOOTER -->
   <ion-row class="foot">
    <ion-col size-xs="1" size-sm="1" size-md="1" size-lg="1" size-xl="1"></ion-col>
    <ion-col size-xs="11" size-sm="11" size-md="10" size-lg="10" size-xl="10">
      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3">


          <h1 class="name">
            Kafila Tours & Travels
          </h1>

          <ion-label class="mss-content-2">
            <ion-icon name="locate"></ion-icon>
            10185-C, Arya Samaj Road, Karol Bagh, New Delhi - 110005.
          </ion-label>

       

        </ion-col>


        
        <ion-col size-sm="6" size-xs="6" size-md="3" size-lg="3" size-xl="3">

          <ion-row class="ion-padding">
            <ion-col class="main-footer-head" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              Support & Terms
            </ion-col>
            <ion-col class="main-footer-min " size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12" >
              <ion-label (click)="contactus()" class="footer-hover">
                <ion-icon name="call"></ion-icon> Contact Us
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="person-add"></ion-icon> Register
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="lock-closed"></ion-icon> Terms & Conditions
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label (click)="contactus()" class="footer-hover">
                <ion-icon name="call"></ion-icon> Contact Us
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="person-add"></ion-icon> Register
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="person-add"></ion-icon> Register
              </ion-label>
            </ion-col>
           
          </ion-row>

        </ion-col>

        <ion-col size-sm="6" size-xs="6" size-md="3" size-lg="3" size-xl="3">

          <ion-row class="ion-padding">
            <ion-col class="main-footer-head" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              Contact Us
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="call"></ion-icon> +91 8587855513
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="mail"></ion-icon> support@kafilatravel.in
              </ion-label>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
              <ion-label class="footer-hover">
                <ion-icon name="mail"></ion-icon> feedback@kafilatravel.in
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-col>



        <ion-col size-sm="12" size-xs="12" size-md="3" size-lg="3" size-xl="3">
          <ion-row class="ion-padding">
            <ion-col class="main-footer-min none2 none3" size-sm="6" size-xs="6" size-md="12" size-lg="12" size-xl="12">
             <input class="subs-ipt"><button class="subs-btn">Subscribe</button>
            </ion-col>
            <ion-col class="main-footer-min" size-sm="6" size-xs="6" size-md="12" size-lg="12" size-xl="12">
              Folllow Us On :
              <ion-icon class="logo" name="logo-facebook"></ion-icon>
              <ion-icon class="logo" name="logo-twitter"></ion-icon>
              <ion-icon class="logo" name="logo-youtube"></ion-icon>
              <ion-icon class="logo" name="logo-linkedin"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>


      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row
    style="padding-top: 14px; background-color: rgba(179, 179, 179, 0.672); text-align: center; color: rgb(43, 43, 43);">
    <ion-col class="ion-padding" size-sm="6" size-xs="12" size-md="12" size-lg="12" size-xl="12">
      <ion-label class="bottom-footer">Copyright © 2021 www.kafilatravel.in. All rights reserved</ion-label>
    </ion-col>
  </ion-row>
