<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-text-center">
      <ion-buttons slot="start">
        <ion-menu-button style="color: black;"></ion-menu-button>
      </ion-buttons>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <!-- <img src="https://img.icons8.com/fluency/32/000000/train.png" /> -->
          <span class="h1">
            <ion-icon name="train"></ion-icon> Rail Agent Authorization
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  
  <ion-content>
    <ion-card class="ion-margin-top" style="background-color: white;">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding">
            <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn($event)">
              <ion-row class="bdr ion-padding">

                <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="2" size-xl="2">
                  <ion-radio-group value="None">
                    <ion-radio value="Id" (click)="agtId()"></ion-radio>
                    <ion-label class="R-label">Agent Id</ion-label>
                    <ion-radio value="None" (click)="none()"></ion-radio>
                    <ion-label class="R-label">None</ion-label>
                  </ion-radio-group>
                  <!-- <ion-label class="pdn">Production</ion-label>
                  <ion-toggle (click)="toggle()"></ion-toggle>
                  <ion-label>Development</ion-label> -->
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3" size-xl="3">
                  <fieldset [disabled]="dateDis">
                    <input formControlName="RAID" maxlength="8" min="8" placeholder="Agent ID" (keydown)="btnActive()">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3" size-xl="3">
                  <button class="ccL-btn" type="submit" [disabled]="btn">
                    <ion-icon slot="start" name="search"></ion-icon> Search
                  </button>
                </ion-col>
              </ion-row>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-row *ngIf="tabShow" style="padding: 0px;">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">

        <ion-badge color="primary" style="margin: 5px 0px 0px 15px;">Total Result = {{agtList.length}}</ion-badge>
        <ion-badge color="success" style="margin:  5px 0px 0px 15px;;" class="ionp">Total Rail Wallet Amount = {{this.amt |
          currency:'INR'}}</ion-badge>
        <ion-badge color="tertiary" class="ionp"
          style="cursor: pointer; padding-left: 5px; padding-right: 5px;margin:  5px 0px 0px 15px;;">
          + Add New Agent
        </ion-badge>
      </ion-col>
    </ion-row>
    <ion-card *ngIf="tabShow" style="overflow-x:auto; background-color: white;">

      <table>
        <thead class="">
          <tr>
            <th class="padding">
              #
            </th>
            <th class="padding">
              COMPANY NAME
              <ion-icon name="caret-down-outline" *ngIf="down3" (click)="sortCnameAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up3" (click)="sortCnameDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              EMAIL ID
              <ion-icon name="caret-down-outline" *ngIf="down1" (click)="sortMailAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up1" (click)="sortMailDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              R ID
            </th>
            <th class="padding">
              USER ID
              <ion-icon name="caret-down-outline" *ngIf="down4" (click)="sortAscRailId()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up4" (click)="sortDescscRailId()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              RAIL PWD
            </th>
            <th class="padding">
              MOBILE
            </th>
            <th class="padding">
              BALANCE
              <ion-icon name="caret-down-outline" *ngIf="down" (click)="sortBalAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up" (click)="sortBalDesc()" style="cursor: pointer; color: red;">
              </ion-icon>
            </th>

            <th class="padding">
              TIME
              <ion-icon name="caret-down-outline" *ngIf="down2" (click)="sortDateAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up2" (click)="sortDateDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              ACTION
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of pageOfItems, index as i" class="hvr">
            <td class="">{{i+1}}</td>
            <td class="">{{d.COMP_NAME}}</td>
            <td class="">{{d.EMAIL}}</td>
            <td class="" style="color: rgb(8, 144, 255);"><b>{{d.RAID}}</b></td>
            <td class="" style="color: rgb(196, 47, 241);"><b>{{d.RAIL_ID}}</b></td>
            <td class="">{{d.RAIL_PWD}}</td>
            <td class="">{{d.MOBILE}}</td>
            <td class="" style="color: green;"><b>{{d.BALANCE | currency:'INR'}}</b></td>
            <!-- <td class="ion-text-center"><span [style.background-color]="d.STATUS==false ? 'red' : 'green'"
                class="dot"></span></td> -->
            <td class="">{{d.ETIME | date: 'dd/MM/yyyy'}} / {{d.ETIME | date:"HH:mm"}}</td>
            <td class="ion-text-center">
              <ion-icon name="create-outline" style="color: red; cursor: pointer;" (click)="edit(d)"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <jw-pagination [items]="agtList" (changePage)="onChangePage($event)"  [pageSize]="50"></jw-pagination>
    </ion-card>
  </ion-content>
</ion-app>