<ion-header>


  <ion-toolbar>

    <ion-buttons slot="start" style="color: rgb(255, 4, 4);">
      <ion-menu-button auto-hide="false" (click)="Menu()"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="3" size-sm="3" size-md="9" size-lg="9" size-xl="9">
            <img alt="logo" id="header_logo" src="../assets/logo.png">
          </ion-col>

          <ion-col size-xs="9" size-sm="9" size-md="3" size-lg="3" size-xl="3" class="ion-padding-top acc">
            <span class="m_p">
              <ion-icon name="person-circle-outline" style="color: rgb(255, 4, 4);"></ion-icon> <span class="pd"> PSLV 
              </span>
            </span>
            <span class="m_p">
              <ion-icon name="airplane" style="color: rgb(255, 4, 4);"> </ion-icon><span class="pd"> 10,000  </span>
            </span>
            <span>
              <ion-icon name="train" style="color: rgb(255, 4, 4);"></ion-icon><span class="pd"> 5,000</span>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>