<ion-content>

  <ion-grid>
    <form [formGroup]="flightData" (ngSubmit)="checkFlight()">
      <ion-row class="ion-padding-top s-bar">

        <ion-col class="p-margin none" size-sm="4" size-xs="4" size-md="2" size-lg="2" size-xl="2">
          <fieldset>
            <legend>
              <ion-icon class="rotate-0" name="airplane-outline"></ion-icon> Type
            </legend>
            <mat-select   formControlName="flighttype" [(ngModel)]="t_type" (selectionChange)="checkValue($event)">
              <mat-option value="1">
                One Way
              </mat-option>
              <mat-option value="2">
                Round Trip
              </mat-option>
              <mat-option value="3">
                Multi Trip
              </mat-option>
            </mat-select>
          </fieldset>
        </ion-col>
  
        <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          <fieldset>
            <legend>
              <ion-icon class="rotate-0" name="airplane-outline"></ion-icon> FROM
            </legend>
            <input placeholder="DEL, Delhi, India" formControlName="D_airport"  list="D_airport">
          </fieldset>
          <datalist id="D_airport">
            <option *ngFor="let arpt of arp">{{arpt.code}} , {{arpt.city}} , {{arpt.country}}</option>
          </datalist>
        </ion-col>
  
        <!-- <ion-col class="p-margin none col-size" size-sm="4" size-xs="4" size-md="1" size-lg="1" size-xl="1">
          <div class="border">
            <ion-icon size="small" name="swap-horizontal-outline"></ion-icon>
          </div>
        </ion-col> -->
  
        <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          <fieldset>
            <legend>
              <ion-icon class="rotate-90" name="airplane-outline"></ion-icon> TO
            </legend>
            <input placeholder="Bom, Mumbai, India" formControlName="A_airport"  list="A_airport">
            <datalist id="A_airport">
              <option *ngFor="let arpt_new of arp_new">{{arpt_new.code}} , {{arpt_new.city}} ,
                {{arpt_new.country}}</option>
            </datalist>
          </fieldset>
        </ion-col>
  
        <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          <fieldset>
            <legend>
              <ion-icon name="calendar-outline"></ion-icon> DEPARTURE DATE
            </legend>
            <input style="width: 80%;" matInput [min]="todayt" [matDatepicker]="picker" (click)="picker.open()"
            formControlName="D_date"  (dateChange)="returnDate($event.target.value)" [max]=" maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </fieldset>
        </ion-col>
  
        <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          <fieldset>
            <legend>
              <ion-icon name="calendar-outline"></ion-icon> RETURN DATE
            </legend>
            <input style="width: 80%;" matInput formControlName="A_date"  [min]="minDate" (click)="picker1.open()"
                        [matDatepicker]="picker1"
                        (dateChange)="returnDateMax($event.target.value)" [disabled]="!round_trip">
                      <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
          </fieldset>
        </ion-col>
  
        <ion-col size-sm="12" size-xs="12" size-md="2" size-lg="2" size-xl="2">
          <button class="submit-btn" type="submit">
            <span class="material-icons">search</span> Search Flight
          </button>
        </ion-col>
      </ion-row>
    </form>
    












    <ion-row class="ion-padding-top" *ngIf="t_type=='1'">
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1"></ion-col>

      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10" class="ion-padding-top">
        <ion-row>
          <ion-col size-md="3" size-lg="3" size-xl="3">

          </ion-col>
          <ion-col size-md="9" size-lg="9" size-xl="9">
            <ion-card>
              <ion-row class="">
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <span class="head-cmn">
                    <ion-icon name="airplane"></ion-icon> Flights
                  </span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon class="rotate-0" name="airplane"></ion-icon> Time
                  </span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon name="timer"></ion-icon> Duration
                  </span>

                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon class="rotate-90" name="airplane"></ion-icon> Time
                  </span>
                </ion-col>




                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon name="cash"></ion-icon> Price<ion-icon name="caret-down-outline" *ngIf="down1"
                      (click)="sortBalAsc()" style="cursor: pointer; color: red;"></ion-icon>
                    <ion-icon name="caret-up-outline" *ngIf="up1" (click)="sortBalDesc()"
                      style="cursor: pointer; color: red;"></ion-icon>
                  </span>
                </ion-col>
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <span class="head-cmn">Total Result = {{arr_data.length}}</span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size-md="3" size-lg="3" size-xl="3">
            <ion-card>
              <ion-row>
                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-center">
                  <span class="F_NAME">Filters</span>
                </ion-col>

                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-start">
                  <ion-label class="f-label">
                    Price :
                  </ion-label>
                  <ion-item lines="none">
                    <ion-range dualKnobs="false" min="{{min_amt}}" max="{{max_amt}}" pin step="500" snaps="false"
                      color="primary">
                      <span slot="start">Rs {{min_amt}}</span>
                      <span slot="end">Rs {{max_amt}}</span>

                    </ion-range>
                  </ion-item>
                </ion-col>

                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-start">
                  <ion-label class="f-label">
                    Stops :
                  </ion-label>
                  <ion-item *ngFor="let entry of STOPS" lines="none">
                    <ion-label class="f-b-label">{{entry.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                  </ion-item>



                </ion-col>


                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-start">
                  <ion-label class="f-label">
                    Departure Time :
                  </ion-label>
                  <ion-item *ngFor="let entry of DEP_TIME" lines="none">
                    <ion-label class="f-b-label">{{entry.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                  </ion-item>
                </ion-col>


                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-start">
                  <ion-label class="f-label">
                    Arrival Time :
                  </ion-label>
                  <ion-item *ngFor="let entry of ARR_TIME" lines="none">
                    <ion-label class="f-b-label">{{entry.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                  </ion-item>
                </ion-col>


                <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-text-start">
                  <ion-label class="f-label">
                    Airlines :
                  </ion-label>
                  <ion-item *ngFor="let entry of Come_FLIGHTS" lines="none">
                    <ion-label class="f-b-label">{{entry.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>


            </ion-card>
          </ion-col>



          <!-- <ion-col size-md="1" size-lg="1" size-xl="1"></ion-col> -->
          <ion-col size-md="9" size-lg="9" size-xl="9">
            <ion-card *ngFor="let y of arr_data" class="b-card">
              <ion-row class="ion-padding-top ion-padding-bottom b-card">
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <div [style.background-position]="y.F_LOGO" class="fltLogo"></div> <span
                    class="F_NAME">{{y.F_NAME}}</span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span
                    class="D_TIME">{{y.D_TIME}}</span><br><span class="D_NAME">{{y.D_NAME}}</span></ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="DUR">{{y.DUR
                    }}</span><br>
                  <span *ngIf="y.STOP=='0'" class="STOP">

                    <span class="circle"></span>
                    <div class="SIZE-DIV"></div>
                    <span class="circle"></span>

                    Non Stop
                  </span>
                  <span *ngIf="y.STOP=='1'" class="STOP">
                    <span class="circle"></span>
                    <div class="SIZE-DIV1"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV1"></div>
                    <span class="circle"></span>
                    One Stop
                  </span>
                  <span *ngIf="y.STOP=='2'" class="STOP">
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    Two Stop
                  </span>

                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span
                    class="D_TIME">{{y.A_TIME}}</span><br><span class="D_NAME">{{y.A_NAME}}</span></ion-col>


                <!-- <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">Class {{y.F_CLASS}} <br>Seats
                  {{y.SEAT}}
                </ion-col> -->

                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="AMT">Rs
                    {{y.AMT}}</span><br> <span class="DETAILS" (click)="check(y.ID)">View Details
                  </span>
                </ion-col>
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <button class="BOOKNOW">
                    Book Now
                  </button>
                </ion-col>
              </ion-row>

              <mat-tab-group animationDuration="0ms" *ngIf="y.ID==a" [hidden]="!stops" [backgroundColor]="background"> 
                <mat-tab label="Flight Details">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>


                  <ion-row *ngIf="y.STOP=='0'">
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.D_TIME}}</span><br>
                      <span class="flight-t2">{{y.D_CODE}} </span>,
                      <span class="flight-t3">{{y.D_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2"class="ion-text-center">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.A_TIME}}</span><br>
                      <span class="flight-t2">{{y.A_CODE}}</span>,
                      <span class="flight-t3"> {{y.A_NAME}}</span><br>
                    </ion-col>
                  
                  </ion-row>
                  


                  <ion-row *ngIf="y.STOP=='1'">
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.CON_DETAILS[0].DEP_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[0].ORG_CODE}} </span>,
                      <span class="flight-t3">{{y.CON_DETAILS[0].ORG_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                      <p [style.background-position]="y.CON_DETAILS[0].FLIGHT_LOGO" class="fltLogo vfl767"></p>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.CON_DETAILS[0].FLIGHT_CODE}}-{{y.CON_DETAILS[0].FLIGHT_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.CON_DETAILS[0].ARRV_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[0].DES_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[0].DES_NAME}}</span><br>
                    </ion-col>


                    <ion-col size-md="12" size-lg="12" size-xl="12" style="border-top: 1px solid black;"></ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.CON_DETAILS[1].DEP_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[1].ORG_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[1].ORG_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                      <div [style.background-position]="y.CON_DETAILS[1].FLIGHT_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.CON_DETAILS[1].FLIGHT_NAME}}</span><br>
                      <span class="flight-t4">{{y.CON_DETAILS[1].FLIGHT_CODE}}-{{y.CON_DETAILS[1].FLIGHT_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.CON_DETAILS[1].ARRV_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[1].DES_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[1].DES_NAME}}</span><br>
                    </ion-col>

                  
                  </ion-row>
                  
                </mat-tab>


                <mat-tab label="Baggage Information">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <div class="row pt-4 pb-4">
                    <div class="col-md-2 text-center">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </div>
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-3 text-center">
                      <span>Check In Baggage</span><br>
                      <span>Asap Airlines</span>
                    </div>
                    <div class="col-md-5 text-center">
                      <span>Cabin Baggage</span><br>
                      <span>Asap Airlines</span>
                    </div>
                  </div>
                </mat-tab>


                <mat-tab label="Fare Summary">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <div class="row pt-4 pb-4">
                    <div class="col-md-2 text-center ">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </div>
                    <div class="col-md-4 text-center">
                      <span>1 Adult</span>
                    </div>
                    <div class="col-md-4 text-center">
                      <span class="fare">Rs {{y.AMT}}</span>
                    </div>
                  </div>
                </mat-tab>


                <mat-tab label="T&C">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <ul>
                    <li>For B2C customers 200Rs charges per person per sector will be charged on all cancellations and
                      200Rs as Rescheduling charges.</li>
                    <li>The above Fare Rules are just a guideline for your convenience and is subject to changes by
                      the Airline from time to time.</li>
                    <li>In case of no-show or ticket not cancelled within the stipulated time only statutory taxes are
                      refundable</li>
                    <li>Partial cancellation is not allowed on tickets booked under special discounted fares.</li>
                    <li>Changes/cancellations are subject to 4hrs prior to departure.</li>
                    <li>The charges are per passenger per sector.</li>
                    <li>Infant fare is non-refundable.</li>

                  </ul>
                </mat-tab>
              </mat-tab-group>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>





















































     <!-- <ion-row class="ion-padding-top" *ngIf="t_type=='2'">
      <ion-col size-sm="12" size-xs="12" size-md="1" size-lg="1" size-xl="1"></ion-col>

      <ion-col size-sm="12" size-xs="12" size-md="10" size-lg="10" size-xl="10" class="ion-padding-top">
        <ion-row>
          <ion-col size-md="3" size-lg="3" size-xl="3">

          </ion-col>
          <ion-col size-md="9" size-lg="9" size-xl="9">
            <ion-card>
              <ion-row class="">
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <span class="head-cmn">
                    <ion-icon name="airplane"></ion-icon> Flights
                  </span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon class="rotate-0" name="airplane"></ion-icon> Time
                  </span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon name="timer"></ion-icon> Duration
                  </span>

                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon class="rotate-90" name="airplane"></ion-icon> Time
                  </span>
                </ion-col>




                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="head-cmn">
                    <ion-icon name="cash"></ion-icon> Price<ion-icon name="caret-down-outline" *ngIf="down1"
                      (click)="sortBalAsc()" style="cursor: pointer; color: red;"></ion-icon>
                    <ion-icon name="caret-up-outline" *ngIf="up1" (click)="sortBalDesc()"
                      style="cursor: pointer; color: red;"></ion-icon>
                  </span>
                </ion-col>
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <span class="head-cmn">Total Result = {{arr_data1.length}}</span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>



        <ion-row>
         



         
          <ion-col size-md="9" size-lg="9" size-xl="9">
            <ion-card *ngFor="let y of arr_data1" class="b-card">
              <ion-row class="ion-padding-top ion-padding-bottom b-card">
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <div [style.background-position]="y.F_LOGO" class="fltLogo"></div> <span
                    class="F_NAME">{{y.F_NAME}}</span>
                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span
                    class="D_TIME">{{y.D_TIME}}</span><br><span class="D_NAME">{{y.D_NAME}}</span></ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="DUR">{{y.DUR
                    }}</span><br>
                  <span *ngIf="y.STOP=='0'" class="STOP">

                    <span class="circle"></span>
                    <div class="SIZE-DIV"></div>
                    <span class="circle"></span>

                    Non Stop
                  </span>
                  <span *ngIf="y.STOP=='1'" class="STOP">
                    <span class="circle"></span>
                    <div class="SIZE-DIV1"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV1"></div>
                    <span class="circle"></span>
                    One Stop
                  </span>
                  <span *ngIf="y.STOP=='2'" class="STOP">
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    <div class="SIZE-DIV2"></div>
                    <span class="circle"></span>
                    Two Stop
                  </span>

                </ion-col>


                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span
                    class="D_TIME">{{y.A_TIME}}</span><br><span class="D_NAME">{{y.A_NAME}}</span></ion-col>


               

                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center"><span class="AMT">Rs
                    {{y.AMT}}</span><br> <span class="DETAILS" (click)="check(y.ID)">View Details
                  </span>
                </ion-col>
                <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                  <button class="BOOKNOW">
                    Book Now
                  </button>
                </ion-col>
              </ion-row>

              <mat-tab-group animationDuration="0ms" *ngIf="y.ID==a" [hidden]="!stops" [backgroundColor]="background"> 
                <mat-tab label="Flight Details">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>


                  <ion-row *ngIf="y.STOP=='0'">
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.D_TIME}}</span><br>
                      <span class="flight-t2">{{y.D_CODE}} </span>,
                      <span class="flight-t3">{{y.D_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2"class="ion-text-center">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.A_TIME}}</span><br>
                      <span class="flight-t2">{{y.A_CODE}}</span>,
                      <span class="flight-t3"> {{y.A_NAME}}</span><br>
                    </ion-col>
                  
                  </ion-row>
                  


                  <ion-row *ngIf="y.STOP=='1'">
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.CON_DETAILS[0].DEP_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[0].ORG_CODE}} </span>,
                      <span class="flight-t3">{{y.CON_DETAILS[0].ORG_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                      <p [style.background-position]="y.CON_DETAILS[0].FLIGHT_LOGO" class="fltLogo vfl767"></p>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.CON_DETAILS[0].FLIGHT_CODE}}-{{y.CON_DETAILS[0].FLIGHT_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.CON_DETAILS[0].ARRV_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[0].DES_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[0].DES_NAME}}</span><br>
                    </ion-col>


                    <ion-col size-md="12" size-lg="12" size-xl="12" style="border-top: 1px solid black;"></ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5">
                      <span class="flight-t1">{{y.CON_DETAILS[1].DEP_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[1].ORG_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[1].ORG_NAME}}</span><br>
                      <span class="flight-t2">Terminal : 1</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2" class="ion-text-center">
                      <div [style.background-position]="y.CON_DETAILS[1].FLIGHT_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.CON_DETAILS[1].FLIGHT_NAME}}</span><br>
                      <span class="flight-t4">{{y.CON_DETAILS[1].FLIGHT_CODE}}-{{y.CON_DETAILS[1].FLIGHT_NO}}</span>
                    </ion-col>
                    <ion-col size-md="5" size-lg="5" size-xl="5" class="ion-text-end">
                      <span class="flight-t1">{{y.CON_DETAILS[1].ARRV_TIME}}</span><br>
                      <span class="flight-t2">{{y.CON_DETAILS[1].DES_CODE}}</span>,
                      <span class="flight-t3"> {{y.CON_DETAILS[1].DES_NAME}}</span><br>
                    </ion-col>

                  
                  </ion-row>
                  
                </mat-tab>


                <mat-tab label="Baggage Information">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <div class="row pt-4 pb-4">
                    <div class="col-md-2 text-center">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </div>
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-3 text-center">
                      <span>Check In Baggage</span><br>
                      <span>Asap Airlines</span>
                    </div>
                    <div class="col-md-5 text-center">
                      <span>Cabin Baggage</span><br>
                      <span>Asap Airlines</span>
                    </div>
                  </div>
                </mat-tab>


                <mat-tab label="Fare Summary">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <div class="row pt-4 pb-4">
                    <div class="col-md-2 text-center ">
                      <div [style.background-position]="y.F_LOGO" class="fltLogo vfl767"></div>
                      <span class="flight-t4">{{y.F_NAME}}</span><br>
                      <span class="flight-t4">{{y.F_CODE}}-{{y.F_NO}}</span>
                    </div>
                    <div class="col-md-4 text-center">
                      <span>1 Adult</span>
                    </div>
                    <div class="col-md-4 text-center">
                      <span class="fare">Rs {{y.AMT}}</span>
                    </div>
                  </div>
                </mat-tab>


                <mat-tab label="T&C">
                  <ion-row>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_NAME}} To {{y.A_NAME}}</span>
                    </ion-col>
                    <ion-col size-md="3" size-lg="3" size-xl="3">
                      <span class="DTAA">{{y.D_DATE | date:'fullDate'}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">{{y.DUR }}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Stops = {{y.STOP}}</span>
                    </ion-col>
                    <ion-col size-md="2" size-lg="2" size-xl="2">
                      <span class="DTAA">Seats = {{y.SEAT}}</span>
                    </ion-col>
                  </ion-row>
                  <ul>
                    <li>For B2C customers 200Rs charges per person per sector will be charged on all cancellations and
                      200Rs as Rescheduling charges.</li>
                    <li>The above Fare Rules are just a guideline for your convenience and is subject to changes by
                      the Airline from time to time.</li>
                    <li>In case of no-show or ticket not cancelled within the stipulated time only statutory taxes are
                      refundable</li>
                    <li>Partial cancellation is not allowed on tickets booked under special discounted fares.</li>
                    <li>Changes/cancellations are subject to 4hrs prior to departure.</li>
                    <li>The charges are per passenger per sector.</li>
                    <li>Infant fare is non-refundable.</li>

                  </ul>
                </mat-tab>
              </mat-tab-group>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row> -->
  </ion-grid>

</ion-content>
<!-- 



CON_DETAILS: ""

FLIGHT_INFO: "REFUNDABLE|1,1|Baggage:Cabin=7Kg,Checkin=15 KG|Cancellation=ASAP Airlines,Reschedule=ASAP Airlines|CLASS=Y0IP"

F_CODE: "6E"

F_NO: " 171"
F_TYPE: "R"
ID: "0"
NET_FARE: "14364"
OI: "1D"
PCC: "6EOTI026D~MAIN"
SEAT: "21"
 -->