p{
    margin: 0px!important;
  }
  .border{
    border:3px solid grey;
    margin-top: 15px;
  }
  .width{
    width: 80px;
    height: 80px;
  }
  .h-text{
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  .red{
    color:red;
    padding-left: 10px;
    font-size: 14px;
  }
  .blue{
    background-color: #0c2543d7;
    color: white;
    font-size: 10px;
    margin: 5px 10px;
    width: 100%;
  }
  .cert{
    font-family: Edwardian Script ITC;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20px;
  }

@media only screen and (max-width: 767px) {
  .h-text{
    font-size: 13px;
    font-weight: 600;
    color: black;
  }
  .cert{
    font-family: Edwardian Script ITC;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .warnin{
    font-size: 9px;
  }
  .img{
    width: 60px;
    height: 60px;
  }
  .width{
    width: 60px;
    height: 60px;
  }
  .tags{
    font-size: 11px;
    font-weight: 400;
    color: black;
  }
}