.padding-none {
  padding: 0px;
}
input{
  outline: 0;
  border: none;
}
ion-icon {
  color: #3f51b5;
}
.label{
  font-size: 20px;
  font-weight: 500;
}
ion-text {
  color: #3f51b5;
  font-weight: 500;
  cursor: pointer;
}
.FTH {
  color: #3f51b5;
  background-color: #fff;
  border: 1px solid #3f51b5;
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: serif;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}
.FTHActive {
  background-color: #3f51b5;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: serif;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}
.SB {
  background-color: #fff;
  border-top: 3px solid #3f51b5;
  border-left: 1px solid #3f51b5;
  border-right: 1px solid #3f51b5;
  border-bottom: 1px solid #3f51b5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 9999;
  margin: 0px;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  background: #3f51b5;
  color: white;
  font-size: 19px;
  font-family: serif;
  border: none;
  font-weight: 600;
  opacity: 1;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 0;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
ion-radio {
  margin: 0px 10px 0px 10px;
}
ion-radio-group {
  color: black;
}
ion-slides{
  padding: 30px 0px 0px 0px;
}
@media only screen and (max-width: 768px) {
  .for-app {
    padding: 80px 0px 80px 0px;
  }
}
@media only screen and (min-width: 769px) {
  .for-app {
    padding: 80px 80px 80px 40px;
  }
}
