<ion-app >
    <ion-header [translucent]="true"  style="background-color: white;">
        <ion-toolbar class="ion-text-center"  style="background-color: white;">
          <ion-buttons slot="start"  style="background-color: white;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <img alt="logo" id="header_logo" src="../assets/logo.png">
        </ion-toolbar>
      </ion-header>
    <ion-content >
        <ion-grid >
            <ion-row class="ion-text-justify">
                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3"  size-xl="3" >
                    <ion-card class="ion-padding"  style="background-color: white;">
                        <ion-img src="../assets/gp1.png" class="ie"></ion-img>
                       
                    </ion-card>
                </ion-col>

                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                    <ion-card class="ion-padding"  style="background-color: white;">
                        <ion-img src="../assets/gp2.png" class="ie"></ion-img>
                    </ion-card>
                </ion-col>

                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                    <ion-card class="ion-padding"  style="background-color: white;">
                        <ion-img src="../assets/gp3.png" class="ie"></ion-img>
                    </ion-card>
                </ion-col>

                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                    <ion-card class="ion-padding"  style="background-color: white;">
                        <ion-img src="../assets/gp4.png" class="ie"></ion-img>
                    </ion-card>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-text-justify">
                    <ion-card class="ion-padding"  style="background-color: white;">
                        <ul>
                            <li>
                                For details, rules and terms & conditions of E-Ticketing services, please visit www.irctc.co.in.

                                2.Departure time and Arrival Time printed on this ERS and VRM sent through mail are liable to
                                change. Please Check correct departure, arrival from Railway Station Enquiry, Dial 139 or SMS
                                RAIL to 139.
                            </li>
                            <li>
                                For details, rules and terms & conditions of E-Ticketing services, please visit www.irctc.co.in.

                                2.Departure time and Arrival Time printed on this ERS and VRM sent through mail are liable to
                                change. Please Check correct departure, arrival from Railway Station Enquiry, Dial 139 or SMS
                                RAIL to 139.
                            </li>
                            <li>
                                For details, rules and terms & conditions of E-Ticketing services, please visit www.irctc.co.in.

                                2.Departure time and Arrival Time printed on this ERS and VRM sent through mail are liable to
                                change. Please Check correct departure, arrival from Railway Station Enquiry, Dial 139 or SMS
                                RAIL to 139.
                            </li>
                            <li>
                                For details, rules and terms & conditions of E-Ticketing services, please visit www.irctc.co.in.

                                2.Departure time and Arrival Time printed on this ERS and VRM sent through mail are liable to
                                change. Please Check correct departure, arrival from Railway Station Enquiry, Dial 139 or SMS
                                RAIL to 139.
                            </li>
                            <li>
                                For details, rules and terms & conditions of E-Ticketing services, please visit www.irctc.co.in.

                                2.Departure time and Arrival Time printed on this ERS and VRM sent through mail are liable to
                                change. Please Check correct departure, arrival from Railway Station Enquiry, Dial 139 or SMS
                                RAIL to 139.
                            </li>
                          
                        </ul>

                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-grid>
    </ion-content>

</ion-app>