.ie{
    height: 200px;
}
ul{
    li{
        list-style-type: square;
        padding: 10px 0px;
    }
}
ion-content{
    --background:rgba(252, 252, 252, 0.583);
}  
ion-toolbar{
    --background:#5ebba5;
}
