


<ion-content class="ion-margin">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>S.No</ion-col>
      <ion-col>First Name</ion-col>
      <ion-col>Last Name</ion-col>
      <ion-col>Photo</ion-col>
    </ion-row>
    <ion-row *ngFor="let x of this.results; index as i">
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ x.first_name }}</ion-col>
      <ion-col>{{ x.last_name }}</ion-col>
      <ion-col>
        <ion-avatar>
          <img src="x.avatar" alt=" img"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

