ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  border-right: 1px solid var(--ion-color-step-150, rgb(212, 212, 212));

}
ion-menu.md ion-list {
  --ion-background-color:#fff;
  padding:0px 0px 0px 0px;
}

.main-tag{
  --padding-end: 10px;
  border-radius: 4px;
  border-bottom: 1px solid var(--ion-color-step-150, rgb(212, 212, 212));
}
.line-up{
  border-top: 1px solid var(--ion-color-step-150, rgb(212, 212, 212));
}
ion-menu.md ion-item:hover {
  cursor: pointer;
  --background: rgba(var(--ion-color-primary-rgb), 0.08);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #017959;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: #017959;
}

.cred-box{
  margin: 15px 0px 0px 5px;
  padding: 20px;
}
ion-menu.ios ion-note {
  line-height: 24px;
}
ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-text{
  font-size:19px;
  color: #fff;
}
@media only screen and (max-width: 768px) {

  .for-app{
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 70px 0px;
  }

}
@media only screen and (min-width:769px) {
  .for-app{
    margin:63px 0px 0px 0px;
  }
}