<ion-app>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-margin-top ion-padding ion-text-center">
        <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-padding">

          <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn($event)">
            <ion-row class="bdr ion-padding">
              <ion-col size-md="3" size-lg="3" size-xl="3">

              </ion-col>
              <ion-col size-md="3" size-lg="3" size-xl="3">
                <input formControlName="RAID" placeholder="Agent ID">
              </ion-col>

              <ion-col size-md="2" size-lg="2" size-xl="2">
                <button class="ccL-btn" type="submit">
                  <ion-icon slot="start" name="search"></ion-icon> Search Agents
                </button>
              </ion-col>

            </ion-row>
          </form>
          <table>
            <thead>
              <tr>
                <th class="padding">
                  #
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortCnameAsc()">
                  </ion-icon>
                  Company Name
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortCnameDesc()">
                  </ion-icon>
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortMailAsc()">
                  </ion-icon>
                  EmailID
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortMailDesc()">
                  </ion-icon>
                </th>
                <th class="padding">
                  RAID
                </th>
                <th class="padding">
                  Rail Id
                </th>
                <th class="padding">
                  Rail Pwd
                </th>

                <th class="padding">
                  Mobile
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortBalAsc()">
                  </ion-icon> Balance
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortBalDesc()">
                  </ion-icon>

                </th>
                <th class="padding">
                  Status
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortDateAsc()">
                  </ion-icon> Time
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortDateDesc()">
                  </ion-icon>
                </th>
                <!-- <th class="padding">
                  Action
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of agtList, index as i" class="hvr">
                <td>{{i+1}}</td>
                <td>{{d.COMP_NAME}}</td>
                <td>{{d.EMAIL}}</td>
                <td>{{d.RAID}}</td>
                <td>{{d.RAIL_ID}}</td>
                <td>{{d.RAIL_PWD}}</td>
                <td>{{d.MOBILE}}</td>
                <td>{{d.BALANCE | currency:'INR'}}</td>
                <td [style.color]="style1 ? 'red' : 'green'">{{d.STATUS}}</td>
                <td>{{d.ETIME | date: 'dd/MM/yyyy'}} {{d.ETIME | date:"HH:mm"}}</td>
                <!-- <td>
                  <ion-icon name="pencil-outline" style="cursor: pointer;"></ion-icon>
                  <ion-icon name="trash-outline" style="cursor: pointer;"></ion-icon>
                </td> -->
              </tr>
            </tbody>
          </table>

        </ion-col>


      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>