
<ion-app>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-margin-top ion-padding ion-text-center">
        <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-padding">

          <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn($event)">
            <table>
              <tr>
                <th><input formControlName="RAID" placeholder="Agent ID"></th>
                <th> <button class="ccL-btn" type="submit">
                    <span *ngIf="show">
                      <ion-icon slot="start" name="search"></ion-icon> Search Agents
                    </span>
                    <ion-spinner *ngIf="!show"></ion-spinner>
                  </button></th>
              </tr>
            </table>
          </form>
          <table>
            <thead>
              <tr>
                <th class="padding">
                  #
                </th>
                <th class="padding">
                  Company Name
                </th>
                <th class="padding">
                  EmailID
                </th>

                <th class="padding">
                  RAID
                </th>
                <th class="padding">
                  Rail Id 
                </th>
                <th class="padding">
                  Rail Pwd
                </th>

                <th class="padding">
                  Mobile
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortBalAsc()"></ion-icon> Balance 
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortBalDesc()"></ion-icon>
                 
                </th>
                <th class="padding">
                  Status
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortDateAsc()"></ion-icon>  Time
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortDateDesc()"></ion-icon>
                </th>
                <th class="padding">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of agtList, index as i" class="hvr">
                <td>{{i+1}}</td>
                <td>{{d.COMP_NAME}}</td>
                <td>{{d.EMAIL}}</td>
                <td>{{d.RAID}}</td>
                <td>{{d.RAIL_ID}}</td>
                <td>{{d.RAIL_PWD}}</td>
                <td>{{d.MOBILE}}</td>
                <td>{{d.BALANCE | currency:'INR'}}</td>
                <td>{{d.STATUS}}</td>
                <td>{{d.ETIME}}</td>
                <td>
                  <ion-icon name="pencil-outline" style="cursor: pointer;"></ion-icon>
                  <ion-icon name="trash-outline" style="cursor: pointer;"></ion-icon>
                </td>
              </tr>
            </tbody>
          </table>

        </ion-col>


      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>