*{
    font-family: serif;
  
  }
  
  input:disabled {
  cursor: not-allowed;
  
  }
  .ccL-btn{
  opacity: .9;
  background-color: #6c79e0;
  color: white;
  width:100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin: 2px 0px 0px 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ddd;
  }
  .ccL-btn:hover{
  opacity: 1;
  }
  
  ion-col{
  padding: 0px;
  margin: 0px;
  }
  h2{
      margin: 10px 0px 0px 0px;
      color: #6c79e0;
  }
  .bdr{
      border: 1px solid #6c79e0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  input{
      border: 1px solid #6c79e0;
  outline: 0;
  width: 70%;
  background-color: white;
  color: black;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #ddd;
  }
  input[type=date]{
      border: 1px solid #6c79e0;
  outline: 0;
  width: 70%;
  background-color: white;
  color: black;
  padding: 15px 10px;
  border-radius: 10px;
  }
  ion-icon{
  font-size: 19px;
  }
  table{
  width: 100%;
  }
  thead{
  background-color: #6c79e0;
  padding: 10px 0px ;
  color: white;
  width:80%;
  
  }
  th{
      font-size: 20px;
      font-weight: 500;
  border: 1px solid #ddd;
  }
  td{
  border: 1px solid #ddd;
  padding: 20px 0px;
  font-size:16px;
  color:#000;
  cursor: pointer;
  }
  .hvr:nth-child(even){background-color: #f2f2f2;}
  .hvr:hover {background-color: #ddd;}
  .padding{
  padding: 8px;
  }
  
  @media only screen and (min-width: 769px) {

  ion-icon{
      font-size: 19px;
  }
  ion-button{
      width: 100%;
  }
  }
  @media only screen and (max-width: 768px) {
  
  
  ion-icon{
      font-size: 19px;
  }
  ion-button{  
      width: 100%;
  }
  .for-app{
      display: none;
  }
  
  }

  
  a {
    text-decoration: none;
  }
  
  .popover__title {
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
  }
  
  .popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    background-color: #bfbfbf;
    padding: 1.0rem;
    left: -300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 350px;
  }

  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

  .after_hoverbtn1{width: 45%;margin-left: 10px;}
  