<ion-app>
  <ion-content>
    <ion-row class="ion-margin-top ion-padding ion-text-center">
      <ion-col size-md="12" size-lg="12" size-xl="12" class="ion-padding">
        <ion-text style="float: right;color: red;cursor: pointer; font-size: 18px;" (click)="m_close()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-text>

        <h1 class="alert">
          <ion-icon name="warning"></ion-icon> {{this.data.RESULT.bookingErrorMessage}}
          {{this.data.RESULT.errorMessage}}
        </h1>



      </ion-col>
    </ion-row>


  </ion-content>
</ion-app>