


<ion-app>
  <ion-content>
    <ion-row class="ion-margin-top ion-padding ion-text-center">
      <ion-col  size-md="2" size-lg="2" size-xl="2"></ion-col>
      <ion-col size-md="8" size-lg="8" size-xl="8" class="ion-padding">
      <ion-card class="ion-text-center">
        <ion-card-header>
        
          <ion-card-title>Booking id:{{this.data.PARAM.R_DATA.BOOKING_ID}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1 class="alert"> {{this.data.RESULT.bookingErrorMessage}}</h1>
          <h1 class="alert"> {{this.data.RESULT.errorMessage}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  

  </ion-content>
</ion-app>
