
*{
  font-family: serif;


}


ion-radio { 
  margin: 1px 10px 0px 10px;
  color: black;
}
ion-radio-group {
  color: black;
  padding: 0px 0px 10px 0px; 

}
.R-label{
  font-weight: 500;
  font-size: 16px;
}
ion-segment-button{
  padding: 0px;
}
button{
  background-color: white;
}
.ionp{
  padding: 4px 10px;
}

ion-header ion-toolbar{
  --background:#287aff;
}

ion-radio { 
  margin: 0px 10px 0px 10px;
}
ion-radio-group {
  color: black;
  padding: 0px 0px 10px 0px; 

}
.font{
  font-size:10px;
  margin-top: 5px;
  cursor: pointer;

}
.R-label{
  font-weight: 500;
  font-size: 16px;
}
input:disabled {
  cursor: not-allowed;

}
fieldset{
  border: none;
}
.ccL-btn{
  opacity: 1;
  background-color: #287aff;
  color: white;
  width:90%;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin: 6px 0px 0px 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ddd;
}
.ccL-btn:disabled{
  cursor: not-allowed;
  opacity: 0.8;
}

ion-col{
  padding: 0px;
  margin: 0px;
}
h2{
  margin: 10px 0px 0px 0px;
  color: #017959;
}

.h1{
  margin: 0px 0px 20px 0px;
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 20px;
}

input{
  border: 1px solid rgb(111, 111, 111);
  outline: 0;
  width: 90%;
  background-color: white;
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ddd;
  margin: 0px 0px 0px 0px;
}
input[type=date]{
  border: 1px solid rgb(111, 111, 111);
  outline: 0;
  width: 90%;
  background-color: white;
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
}
ion-icon{
  font-size: 19px;
}
table{
  width: 100%;
}
ion-icon{
  margin-top: -1px;
}
thead{
  background-color: #287aff;
  color: rgb(247, 247, 247);
  text-align: left;
}
th{
  font-size: 12px;
  font-weight: 700;

}
td{
  border-top: 1px solid rgba(124, 123, 123, 0.557);
  padding: 5px 5px;
  font-size:13px;
  color:#000;
  font-weight: 500;
}
// .hvr{ 
//   border: 1px solid rgba(124, 123, 123, 0.557);
// }
// .hvr:nth-child(even){
//   background-color: rgba(250, 246, 192, 0.412);
// }

.hvr:hover {
  background-color: #e7e3fc6b;
}
.padding{
  padding: 7px 5px;

}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}
h3{
  color: black;
  margin: 10px;
  color: #3880ff;
  font-family: serif;
}
ion-item{
  border: none;
}

ion-toggle{
  padding: 20px 5px 5px 5px;

}
@media only screen and (max-width: 767px) {
  .R-label{
    font-weight: 500;
    font-size: 12px;
  }
  ion-row{
    padding: 0px;
  }
  h3{
    color: black;
    color: #3880ff;
    font-size: 11px;
    margin: 0px;
    font-family: serif;
  }
  ion-label{
    font-size: 11px;
  }
  input{
    border: 1px solid rgb(111, 111, 111);
    outline: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #ddd;
    margin: 2px 0px 0px 0px;
  }
  input[type=date]{
    border: 1px solid rgb(111, 111, 111);
    outline: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 2px 0px 0px 0px;
  }
  .ccL-btn{
    opacity: 1;
    background-color: #3880ff;
    color: white;
    width:100%;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #ddd;
  }
  .ccL-btn:disabled{
  cursor: not-allowed;
  opacity: 0.8;
  }
  input:disabled {
    cursor: not-allowed;
  
  }
  fieldset{
    border: none;
  }

  th{
    font-size: 11px;
    font-weight: 400;
  }
  td{
    border: 1px solid rgba(221, 221, 221, 0.557);
    padding: 0px 2px;
    font-size:11px;
    color:#000;
    // word-spacing: 2px;
    cursor: pointer;
  }
  
  
}


.popover__wrapper {
  position: relative;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 60px;
  background-color: rgb(253, 253, 253);
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.after_hoverbtn1{width: 45%;margin-left: 10px;}
ion-content{
  --background:rgba(194, 193, 193, 0.583);
}