<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="Menu()"></ion-menu-button>
      <img alt="logo" id="header_logo" height="40" src="../assets/logo.png">
    </ion-buttons>

    <ion-title> KAFILA TOUR AND TRAVELS</ion-title>
    <ion-buttons slot="primary">
      <ion-button href="home/dashboard">

        <ion-icon slot="icon-only" name="home" ></ion-icon>


      </ion-button>


      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>