ion-toolbar {
    --background: var(--ion-item-background, var(--ion-background-color, #101b33));
    color: #fff;
}
.dot {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
}
ion-label{
    color: white;
    font-size: 18px;
    font-weight: 400;
}