<ion-content>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <ion-card class="ion-padding">
          <ion-row>
            <ion-col size-md="3" size-lg="3" size-xs="12">
              <ion-label position="floating">AGENT_ID</ion-label>
              <ion-input [(ngModel)]="message.AGENT_ID"></ion-input>
            </ion-col>
            <ion-col size-md="3" size-lg="3" size-xs="12">
              <ion-label position="floating">Agency Name</ion-label>
              <ion-input [(ngModel)]="message.AGENCY_NAME"></ion-input>
            </ion-col>
            <ion-col size-md="3" size-lg="3" size-xs="12">
              <ion-label position="floating">Product Type</ion-label>
              <ion-input [(ngModel)]="message.P_TYPE"></ion-input>
            </ion-col>
            <ion-col size-md="3" size-lg="3" size-xs="12">
              <ion-label position="floating">Amount</ion-label>
              <ion-input [(ngModel)]="message.AMOUNT"></ion-input>
            </ion-col>
          </ion-row>  
          <ion-button class="button button-block ">Confirm</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 



  <h1>Calling reusable payment component (Parent Page value:-){{message.AMOUNT}} </h1>

  <app-payment [(Data)]="message"></app-payment>
</ion-content>