ion-item{
    border-bottom: 1px solid rgb(189, 189, 189);
}
ion-col{
    padding: 0px;
}
.centre{
    text-align: center;
}
input{
    border: none;
    outline: 0;
    width: 100%;
    background-color: white;
    padding: 0px;
    font-size: 13px;
}
input::placeholder{
    font-size: 13px;
}

ion-icon{
    font-size: 19px;
}
.bgw{
    background-color: white;
}
.or-text{
    text-align: center;
}
ion-label{
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: #0d2c4f;
}
.passwordIcon{
    font-size: 12px;
    position: relative !important;
    top: 7px !important;
    margin: 0 auto !important;
    cursor: pointer;
 }

@media only screen and (min-width: 769px) {
  
    input{
        border: none;
        outline: 0;
        width: 100%;
    }
    ion-icon{
        font-size: 19px;
    }
    ion-button{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
   
    input{
        border: none;
        outline: 0;
        width: 100%;
    }
    ion-icon{
        font-size: 19px;
    }
    ion-button{
        width: 100%;
    }

}

@media only screen and (max-width: 425px ) {

    input{
        border: none;
        outline: 0;
        width: 100%;
    }
    ion-icon{
        font-size: 19px;
    }
    ion-button{
        width: 100%;
    }
}
