<ion-app >
  <ion-content>
    <ion-grid >
      <ion-row class="ion-margin-top ion-padding-top">
        <ion-col size-md="2" size-lg="3" size-xl="4"></ion-col>
        <ion-col size-md="8" size-lg="6" size-xl="4" class="ion-margin-top">
          <ion-card class="ion-margin-top">
            <ion-item-divider>
              <ion-card-header class="ion-text-center">
                <img alt="logo" id="header_logo" height="50" src="../assets/logo.png">
                <ion-card-title>Kafila Hospitality and Travels Pvt. Ltd. System</ion-card-title>
              </ion-card-header>
            </ion-item-divider>


            <ion-item-divider>
              <ion-card-content>
                <form class="cred-box">
                  <ion-grid>
                    <ion-row>
                      <ion-col class="bgw" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                        <ion-item class="bgw" lines="none">
                          <input placeholder="Enter Agent ID">
                        </ion-item>
                      </ion-col>

                      <ion-col class="bgw" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                        <ion-item class="bgw" lines="none">
                          <input placeholder="Enter Agent Username">
                        </ion-item>
                      </ion-col>

                      <ion-col class="bgw" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                        <ion-item class="bgw" lines="none">
                          <input placeholder="Enter Your Password">

                        </ion-item>
                      </ion-col>

                      <ion-col class="bgw" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                        <ion-item class="bgw" lines="none">
                          <select  (change)="typeVal($event.target.value)">
                            
                            <option *ngFor="let x of uType" [value]="x.Type">{{x.Type}}</option>
                          </select>
                        </ion-item>
                      </ion-col>

                      <ion-col class="ion-padding-top" size-sm="12" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                        <button class="ccL-btn" type="submit"><ion-icon slot="start" name="log-in"></ion-icon> Login as {{onCvalue}} User

                        </button>
                      </ion-col>

                    </ion-row>
                  </ion-grid>
                </form>
              </ion-card-content>
            </ion-item-divider>
            <ion-card-content>
              Copyright © 2014-2016 Kafila Hospitality & Travels Pvt. Ltd. All rights reserved
            </ion-card-content>


          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>