<ion-app>
  <ion-content>
    <ion-grid class="web" >
      <ion-row class="ion-margin-top">
        <ion-col size-md="1" size-lg="1" size-xl="2" class="app"></ion-col>
        <ion-col size-md="10" size-lg="10" size-xl="8" class="ion-margin-top">
          <ion-card class="ion-margin-top ion-text-center">
            <ion-row style="background-color: white;">
              <ion-col size-md="6" size-lg="6" size-xl="6"
                style="border-right: 1px solid rgb(192, 192, 192); background-color: white;">
                <ion-item-divider style="background-color: white;">
                  <ion-card-header style="background-color: white;" class="ion-text-center">
                    <img alt="logo" id="header_logo" src="../assets/logo.png">
                    <ion-card-title>Kafila Hospitality and Travels Pvt. Ltd. System</ion-card-title>
                  </ion-card-header>
                </ion-item-divider>
                <ion-item-divider style="background-color: white;">
                  <ion-card-content style="background-color: white;">
                    <form [formGroup]="set_cre" (ngSubmit)="ccGetData($event)" class="cred-box">
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <h2 class="app">
                              Admin Panel Login
                            </h2>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="ion-margin-top" size-sm="12" size-xs="12" size-md="12" size-lg="12"
                            size-xl="12">
                            <input placeholder="Enter Agent ID" formControlName="cre1">
                          </ion-col>

                          <ion-col class="bgw ion-margin-top" size-sm="12" size-xs="12" size-md="12" size-lg="12"
                            size-xl="12">
                            <input placeholder="Enter Agent Username" formControlName="cre2">
                          </ion-col>

                          <ion-col class="bgw ion-margin-top" size-sm="12" size-xs="12" size-md="12" size-lg="12"
                            size-xl="12">
                            <input placeholder="Enter Your Password" formControlName="cre3" type="password">
                          </ion-col>

                          <ion-col class="bgw ion-margin-top" size-sm="12" size-xs="12" size-md="12" size-lg="12"
                            size-xl="12">
                            <select formControlName="cre4" *ngIf="sel">
                              <option value="" disabled selected hidden>Select User Type</option>
                              <option *ngFor="let x of uType" [value]="x.Id">{{x.Type}}</option>
                            </select>
                          </ion-col>

                          <ion-col class="ion-padding-top" size-sm="12" size-xs="12" size-md="12" size-lg="12"
                            size-xl="12">
                            <button class="ccL-btn" type="submit">
                              <span *ngIf="show">
                                <ion-icon slot="start" name="log-in"></ion-icon> Login
                              </span>
                              <span>
                                <ion-spinner *ngIf="!show"></ion-spinner>
                              </span>
                            </button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </ion-card-content>
                </ion-item-divider>
                <ion-card-content>
                  Copyright © 2019-2021 Kafila Hospitality & Travels Pvt. Ltd. All rights reserved
                </ion-card-content>
              </ion-col>
              <ion-col size-md="6" size-lg="6" size-xl="6" class="ion-margin-top ad-img app">
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>