.top-head{
    background-color: rgb(47, 102, 204);
    color: #fff;
}
.top-cont{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.trn-no{
    background-color: #fff;
    color: rgb(47, 102, 204);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;   
    border: none;
    width: 160px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
.input_box{
    width:80%;
    border-radius: 10px;
    padding:10px;
    border:1px solid rgb(134, 76, 76);
    border-color:lightgrey;
}

.reservation{
	margin:10px 0px 10px 10px;
	border:1px solid #ccc;
	
	}

.srpPageWrap {
    zoom: .9;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-orient: row;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 6rem;
}
.srpPageWrap .leftWrapper {
    position:absolute;
	left:100px;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.srpPageWrap .rightWrapper {
    width: 80%;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    margin-left: 195px;
}

.filter-radio{
    margin-left: 12px;
    width: 1rem;
    height: 1rem;

}
.filter-main-head{
    padding: 0px 0px 0px 8px;
    font-size: 17px;
    font-weight: 700;
}
.filter-name{
    padding-left: 12px;
    font-family: 'Quicksand',sans-serif;
    font-size: 1rem;
}


.filter-check{
    margin-left: 12px;  
}

.fil-div{
    margin-top: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
.table{
	border: 1 px solid lightgrey;
	color:lightgrey;
	margin-top:10px;
}

.heading_bg_color{
	
	background-color: #f6f8fa;
}

.table_data{
   background-color:#fff;
   color:#000;
	width:100%;
	font-family: 'Roboto', sans-serif;
}
.tnavaliable_day{color:red;padding-left: 3px;font-size: 12px;}
.tavaliable_day{color:green;padding-left: 3px;font-size: 12px;}
.dot {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.top-section{
    background-color:#eef4fd;   
}
.top-cont{
    background-color: #fff;
    border:1px solid #ccc;
    margin-top:10px;
	
}
.side-cont{
	margin-top:10px;
	margin-left:20px;
    background-color: #fff;
    border-radius: 15px;
   
	position:absolute;
	right:250px;
	width:300px;	
}
.second-cont{
    background-color: #fff;
   
    border:1px solid #ccc;
	width:100%;
	
}
.review{
    color: #fff;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 30px;  
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.dotA {
    height: 7px;
    width: 7px;
    background-color: rgb(142, 194, 63);
    border-radius: 50%;
    display: inline-block;
}
.dotD {
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.jouney-duration-line {
    width: 40px;
    height: 1px;
    border: 1px solid #e7e7e7;
}
.booking-det{
    font-family: 'Quicksand',sans-serif;
    font-size: 22px;
    padding: 12px 0px 15px 0px;
    
}
.trn-no{
    background-color: rgb(47, 102, 204);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;   
    border: none;
    width: 150px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    padding:0px 10px 0px 0px;
}
.duration{
    width: 79px;
    height: 15px;
    margin: 0 20px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}
.jn{
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
	padding:10px 10px 10px 10px;
    font-weight: 10px;
}
.input_box{
    width:100%;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    border:1px solid rgb(134, 76, 76);
    border-color:lightgrey;
}
.input_box_D{
    width:80%;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    border:1px solid rgb(134, 76, 76);
    border-color:lightgrey;
}
.all-labels{
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: 15px;
}
.Main-heading {
	
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
	margin-left:3px;
	margin-top:3px;
    
}

.CENTER{justify-content: center;text-align: center;}
.Add-pas{
    font-family: 'Quicksand',sans-serif;
    font-size: 18px; 
    margin-left: 15px;

}
.Add-pas:hover{
    color: rgb(47, 102, 204); 
	
}
.cancel{
    font-family: 'Quicksand',sans-serif;
    font-size: 15px;
    background-color: #fff;
    color:rgb(47, 102, 204); 
    border: none;
    float: right;
    margin-right: 100px;
    
}
.save{
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 102, 204); 
    color: #fff;
    width:100px;
    float: right;
    margin-right: 17px;
}
.check-box{
    margin-left: 12px;
}
.verify{
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 102, 204); 
    color: #fff;
    width:100px;
    padding: 8px;
    
}
.paybtn{
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 102, 204); 
    color: #fff;
    width:130px;
    padding: 8px;
    margin-left: 12px;
}

.paybtn1{
    font-family: 'Quicksand',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 102, 204); 
    color: #fff;
    width:130px;
    padding: 8px;
    margin-left: 12px;
	 
	text-decoration:none;
	
}
.paybtn1:hover{
	text-decoration:none;
	color:orange;
}

.review_box{
	margin:20px 0px 20px 0px ;
	
	
}

.text{
	color:lightgrey;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}

#sk {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #sk td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 25%;
    background-color: #f6f8fa;
  }
 
  .promo{
    width:90%;    
    margin:10px;
    padding: 4px;
    border:none;
    border-bottom:1px solid rgb(134, 76, 76);
    border-color:lightgrey;
  }
  .promo::placeholder {
    color: red;
    font-size: 14px;text-align: center;
    
  }
  #displayCount{
      margin-left: 12px;
  }

.notavaliable_seatbox{
    border:1px solid #d1e5ff;
    cursor: pointer;
}
.avaliable_seatbox{
    border:1px solid #d1e5ff;
    cursor: pointer;
}
.avaliable_seattext{
    color:green
}
.avaliable_seatcoach{
    background-color: #d1e5ff;
}
.notavaliable_seattext{
    color:red
}
.toggle-box + label + div {
    display:none;
}
.toggle-box:checked + label:nth-child(n) + div {
    display:block;
}
.NOTSHOW{display: none;}

.recomandTag {
    height: 2rem;
    border-radius: 1px;
    background-image: linear-gradient(
100deg
, #1149f3, #00c3ff 100%);
    position: relative;
    top: -5px;
    padding: 0 1rem 0 .5rem;
    display: inline-flex;
    
    flex-wrap: wrap;
    margin-left: -5px;}

    .CENTER{justify-content: center;text-align: center;}

    .single-train-detail {
    width: 70%;
    padding: 20px 20px 14px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(138 107 118 / 8%);
    border: .7px solid #bababa;
    background-color: #fff;
    margin: 20px;
}