<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let item of ARRAYDATA" size-md="3" size-lg="2" size-xs="3">
                <ion-checkbox color="secondary"></ion-checkbox>
                <span style="padding: 0px 10px 0px 10px;font-size: 15px;">{{item.trainName}}</span>
            </ion-col>
            <ion-col class="single-train-detail mt-1 " size-md="5" size-lg=5" size-xs="5" *ngFor="let item of ARRAYDATA">
                <ion-row>
                    <ion-col class="mt-3" size-md="3" size-lg="3" size-xs="3">
                        <h4 style="color: red;padding:0px 10px 0px 10px ; font-size:20px;">{{item.trainName}}</h4>
                    </ion-col>
                    <ion-col class="mt-1" size-md="6" size-lg="6" size-xs="6">
                      <span style="color: black;padding:0px 10px 0px 10px; font-size:18px;">Distance:{{item.distance}}</span>
                      <span style="color: black;padding:0px 10px 0px 10px;  font-size:15px;">Runs on:</span>
                      <span [ngClass]="{'tavaliable_day': item.runningSun === 'Y', 'tnavaliable_day' : item.runningSun === 'N' }">SUN</span>
                      <span [ngClass]="{'tavaliable_day': item.runningMon === 'Y', 'tnavaliable_day' : item.runningMon === 'N' }">MON</span>
                      <span [ngClass]="{'tavaliable_day': item.runningTue === 'Y', 'tnavaliable_day' : item.runningTue === 'N' }">TUE</span>
                      <span [ngClass]="{'tavaliable_day': item.runningWed === 'Y', 'tnavaliable_day' : item.runningWed === 'N' }">WED</span>
                      <span [ngClass]="{'tavaliable_day': item.runningThu === 'Y', 'tnavaliable_day' : item.runningThu === 'N' }">THU</span>
                      <span [ngClass]="{'tavaliable_day': item.runningFri === 'Y', 'tnavaliable_day' : item.runningFri === 'N' }">FRI</span>
                      <span [ngClass]="{'tavaliable_day': item.runningSat === 'Y', 'tnavaliable_day' : item.runningSat === 'N' }">SAT</span>
                    </ion-col>
                    <ion-col class="" size-md="3" size-lg="3" size-xs="3">
                        <button class="trn-no" >{{item.trainNumber}}</button><br>
                    </ion-col>
                    <ion-col class=" " size-md="4" size-lg="4" size-xs="4">
                        <span class="jn" >{{item.fromStnCode}} </span>
                        <span >{{item.departureTime}}</span><br>
                        <span style="padding:10px 10px 10px 10px;"></span><br>
                    </ion-col>
                    <ion-col class="CENTER" size-md="5" size-lg="5" size-xs="5">
                        <span class="jouney-duration-line"></span>
                        <span class="duration">Duration:{{item.duration}}</span>
                        <span class="jouney-duration-line"></span>
                    </ion-col>
                    <ion-col class=" " style="text-align-last: right;" size-md="3" size-lg="3" size-xs="3">
                        <span>{{item.arrivalTime}}</span>
                        <span class="jn">{{item.toStnCode}}</span><br>
                        <span style="padding:10px 10px 10px 10px;"></span><br>
                    </ion-col>
                    <ion-col class=" mt-3 mb-3 CENTER" size-md="3" size-lg="3" size-xs="3" *ngFor="let aclass of item.avlClasses">
                        <div class="card" style="width:50%;margin-left:10px;">
                            <h3 class=" avaliable_seatcoach">{{aclass}}</h3>
                        </div>
                    </ion-col>
                </ion-row> 
          </ion-col>
      </ion-row> 
    </ion-grid>
</ion-content> 