<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img alt="logo" id="header_logo" src="../assets/logo.png">
      <!-- <ion-text> Dashboard</ion-text> -->
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-margin-top"  style="background-color: white;">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding">
            <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn($event)">
              <ion-row class="bdr ion-padding">
                <ion-col size-xs="4" size-sm="4" size-md="8" size-lg="7" size-xl="7">
                  <h3>
                    Rail Cancellation History
                  </h3>
                </ion-col>
                <ion-col size-xs="8" size-sm="8" size-md="4" size-lg="5" size-xs="5" class="ion-text-center">


                  <ion-label class="pdn">Production</ion-label>
                  <ion-toggle (click)="toggle()"></ion-toggle>
                  <ion-label>Development</ion-label>

                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                  <ion-radio-group value="Date">
                    <ion-radio value="Id" (click)="AgentActive()"></ion-radio>
                    <ion-label class="R-label">Agent Id</ion-label>
                    <ion-radio value="Date" (click)="DateActive()"></ion-radio>
                    <ion-label class="R-label">Date Wise</ion-label>
                  </ion-radio-group>

                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <fieldset [disabled]="!dateDis">
                    <input formControlName="RAID" maxlength="8" min="8" placeholder="Agent ID" (keydown)="btnActive()">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <fieldset [disabled]="dateDis">
                    <input formControlName="FROM" type="date" [max]="maxDate" (change)="btnActive()">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <fieldset [disabled]="dateDis">
                    <input formControlName="TO" type="date" [max]="maxDate" (change)="btnActive()">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <button class="ccL-btn" type="submit" [disabled]="btn">
                    <ion-icon slot="start" name="search"></ion-icon> Search
                  </button>
                </ion-col>
              </ion-row>
            </form>



          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="ion-padding ion-margin-top" *ngIf="tabShow" style="overflow-x:auto; background-color: white;">
      <span>Total Result = {{agtList.length}}</span>
      <table class="ion-text-center">
        <thead>
          <tr>
            <th class="padding">
              #
            </th>
            <th class="padding">
              Booking Id
            </th>
            <th class="padding">
              Cancellation Id

            </th>
            <th class="padding">
              FID
            </th>
            <th class="padding">
              RID
            </th>
            <th class="padding">
              PNR
            </th>
            <th class="padding">
              Cancel Charge
              <ion-icon name="caret-down-outline" *ngIf="down" (click)="sortBalAscC()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up" (click)="sortBalDescC()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              Refund Amount
              <ion-icon name="caret-down-outline" *ngIf="down1" (click)="sortBalAscR()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up1" (click)="sortBalDescR()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <!-- <th class="padding">
              Status
        
            </th> -->
            <th class="padding">
              Req Time
              <ion-icon name="caret-down-outline" *ngIf="down4" (click)="sortDateAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up4" (click)="sortDateDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">
              Res Time
              <ion-icon name="caret-down-outline" *ngIf="down4" (click)="sortDateAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up4" (click)="sortDateDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of agtList, index as i" class="hvr">
            <td>{{i+1}}</td>
            <td style="color: red; text-decoration: underline;cursor: pointer" (click)="PNR(d)">{{d.BOOKING_ID}}</td>
            <td>{{d.CANCELATION_ID}}</td>
            <td>{{d.FID}}</td>
            <td>{{d.RID}}</td>
            <td>{{d.PNR}}</td>
            <td>{{d.CANCEL_CHARGE | currency:'INR'}}</td>
            <td>{{d.REFUND_AMT | currency:'INR'}}</td>
            <!-- <td><span [style.background-color]="d.STATUS==false ? 'red' : 'green'" class="dot"></span></td> -->
            <td>{{d.REQ_TIME | date: 'dd/MM/yyyy'}} {{d.REQ_TIME | date:"HH:mm"}}</td>
            <td>{{d.RES_TIME | date: 'dd/MM/yyyy'}} {{d.RES_TIME | date:"HH:mm"}}</td>

          </tr>
        </tbody>
      </table>

    </ion-card>

  </ion-content>
</ion-app>