
.popover_setting{
    --min-width: 900px !important;
    --min-height: 650px !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
    
    
}




