
.popover_setting{
    --min-width: 90%!important;
    --min-height: 90% !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
    
    
}
.certificate{
    --min-width: 80%!important;
    --min-height: 95% !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
    
    
}


.popover_setting2{
    --min-width: 20%!important;
    --max-height: 200px !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
}

.popover_setting3{
    --min-width: 40%!important;
    --max-height: 250px !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
}

.role_Modal{
    --max-width: 25%!important;
    --max-height: 410px !important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
}
.auth_modal{
    --min-width:60%!important;
    --min-height: 60%!important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
}


.logModal{
    --min-width:70%!important;
    --min-height: 60%!important;
    --ion-text-color: #000;
    transform-origin: left top !important;
    z-index: 10 !important;
}

@media only screen and (max-width: 767px) {
    .role_Modal{
        --max-width: 50%!important;
        --max-height: 410px !important;
        --ion-text-color: #000;
        transform-origin: left top !important;
        z-index: 10 !important;
    }
}


