
    .popover_setting .popover-content {
        --min-width: 1200px !important;
        --min-height: 850px !important;
        --ion-text-color: #000;
  
        // top: 79px !important;
        transform-origin: left top !important;
        z-index: 10 !important;
        background-color: rgb(255, 255, 255);
      
    }
    




// @media only screen and (max-width: 768px ) {
//     .popover_setting .popover-content {
//         --max-width: 200px !important;
//         --max-height: 350px !important;
//         --ion-text-color: #000;
    
//         transform-origin: left top !important;
//         // top: 57px !important;
//         background-color: rgb(255, 255, 255);
//     }
// }



// @media only screen and (max-width: 425px ) {
//     .popover_setting .popover-content {
//         --max-width: 200px !important;
//         --max-height: 350px !important;
//         --ion-text-color: #000;
     
//         transform-origin: left top !important;
//         background-color: rgb(255, 255, 255);
//     }
// }
