<ion-app>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-margin-top ion-padding ion-text-center">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding">
          <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn($event)">
            <ion-row class="bdr ion-padding">
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <input formControlName="RAID" placeholder="Agent ID">
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1" size-xl="1">
                <h2>Or</h2>
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <input formControlName="FROM" type="date">
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                <input formControlName="TO" type="date">
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="2" size-lg="2" size-xl="2">
                <button class="ccL-btn" type="submit">
                  <ion-icon slot="start" name="search"></ion-icon> Search Agents
                </button>
              </ion-col>
            </ion-row>
          </form>

          <button (click)=checktoirctc(d)>show</button>
          <button (click)=refund(d)>show re</button>
          <table>
            <thead>
              <tr>
                <th class="padding">
                    #
                </th>
                <th class="padding">

                  Booking ID

                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortMailAsc()">
                  </ion-icon>
                  EmailID
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortMailDesc()">
                  </ion-icon>
                </th>
                <th class="padding">
                  FAID
                </th>
                <th class="padding">
                  RAID
                </th>
                <th class="padding">
                  Pnr
                </th>
                <th class="padding">
                  IP
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortBalAsc()">
                  </ion-icon> Balance
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortBalDesc()">
                  </ion-icon>
                </th>
                <th class="padding">
                  Status
                </th>
                <th class="padding">
                  <ion-icon name="arrow-up-outline" style="cursor: pointer; color: red;" (click)="sortDateAsc()">
                  </ion-icon> Time
                  <ion-icon name="arrow-down-outline" style="cursor: pointer; color: red;" (click)="sortDateDesc()">
                  </ion-icon>

                </th>
                <th class="padding">
                  Action

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of agtList, index as i" class="hvr">
                <td>{{i+1}}</td>
                <td>{{d.BOOKING_ID}}</td>
                <td>{{d.EMAIL_ID}}</td>
                <td>{{d.FID}}</td>
                <td>{{d.RID}}</td>
                <td>{{d.PNR}}</td>
                <td>{{d.IP}}</td>
                <td>{{d.AMOUNT}}</td>
                <td [style.color]="d.STATUS==false ? 'red' : 'green'">{{d.STATUS}}</td>
                <td>{{d.ETIME | date: 'dd/MM/yyyy'}} {{d.ETIME | date:"HH:mm"}}</td>
                <td>
                  <div class="popover__wrapper">
                    <ion-button color="secondary">
                      ACTION
                    </ion-button>
                    <div class="popover__content">
                      <ion-button color="success" class="after_hoverbtn1" (click)=checktoirctc(d)>CHECK TO IRCTC </ion-button>
                      <ion-button color="danger" class="after_hoverbtn1" (click)=refund(d)> REFUND TO AGENT</ion-button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </ion-col>


      </ion-row>
    </ion-grid>

  </ion-content>
</ion-app>