<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-text-center">
      <ion-buttons slot="start">
        <ion-menu-button style="color: black;"></ion-menu-button>
      </ion-buttons>
      <img alt="logo" id="header_logo" src="../assets/logo.png">
      <!-- <ion-text> Dashboard</ion-text> -->
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-margin-top" style="background-color: white;">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-padding">
            <form [formGroup]="agtLstGP" (ngSubmit)="AgtSrhBtn()">
              <ion-row class="bdr ion-padding">
                <ion-col size-xs="5" size-sm="5" size-md="8" size-lg="7" size-xl="7">
                  <ion-chip outline color="primary">
                    <h3>
                      Rail Agency Statement
                    </h3>
                  </ion-chip>
                </ion-col>
                <ion-col size-xs="7" size-sm="7" size-md="4" size-lg="5" size-xl="5" class="ion-text-end">


                  <ion-label class="pdn">Production</ion-label>
                  <ion-toggle (click)="toggle()"></ion-toggle>
                  <ion-label>Development</ion-label>

                </ion-col>
                <!-- <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                  <ion-radio-group value="Date">
                    <ion-radio value="Id" (click)="AgentActive()"></ion-radio>
                    <ion-label class="R-label">Agent Id</ion-label>
                    <ion-radio value="Date" (click)="DateActive()"></ion-radio>
                    <ion-label class="R-label">Date Wise</ion-label>
                  </ion-radio-group>
                </ion-col> -->
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <fieldset>
                    <input formControlName="RAID" maxlength="8" min="8" placeholder="Agent ID">
                  </fieldset>
                  <ion-text *ngIf="Error.RAID.touched || Error.RAID.dirty">
                    <span class="err" *ngIf="Error.RAID.errors">* Required Field</span>
                  </ion-text>
                </ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                  <fieldset>
                    <input formControlName="FROM" type="date" [max]="maxDate">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                  <fieldset>
                    <input formControlName="TO" type="date" [max]="maxDate">
                  </fieldset>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
                  <button class="ccL-btn" type="submit" [disabled]="!agtLstGP.valid">
                    <ion-icon slot="start" name="search"></ion-icon> Search
                  </button>
                </ion-col>
              </ion-row>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-card *ngIf="tabShow" class="ion-padding" style="overflow-x:auto; background-color: white;">
      <ion-badge color="primary">Total Result = {{agtList.length}}</ion-badge>
      <table class="ion-text-center">
        <thead>
          <tr>
            <th class="padding">#</th>
            <th class="padding">Transaction</th>
            <th class="padding">Booking Id</th>
            <th class="padding">ID</th>
            <!-- <th class="padding">Agent Id</th> -->
           
            <th class="padding">
              Balance
              <ion-icon name="caret-down-outline" *ngIf="down" (click)="sortBalAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up" (click)="sortBalDesc()" style="cursor: pointer; color: red;">
              </ion-icon>
            </th>
            <th class="padding">Credit</th>
            <th class="padding">Debit</th>
            <th class="padding">
              Time
              <ion-icon name="caret-down-outline" *ngIf="down2" (click)="sortDateAsc()"
                style="cursor: pointer; color: red;"></ion-icon>
              <ion-icon name="caret-up-outline" *ngIf="up2" (click)="sortDateDesc()"
                style="cursor: pointer; color: red;"></ion-icon>
            </th>
            <th class="padding">Remark</th>
            <!-- <th class="padding">
              S Remark
            </th> -->
            <!-- <th class="padding">
              Status
            </th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of agtList, index as i" class="hvr">
            <td>{{i+1}}</td>
            <td>{{d.ALIAS}}</td>
            <td style="color: red;cursor: pointer" (click)="PNR(d)">{{d.BOOKING_ID|uppercase}}</td>
            <td class="padding-l">{{d.ID}}</td>
            <!-- <td class="padding-l">{{d.AGENT_ID}}</td> -->
           
            <td style="color: green;">{{d.BALANCE | currency:'INR'}}</td>
            <td style="color: green;">{{d.CREDIT | currency:'INR'}}</td>
            <td style="color: red;">{{d.DEBIT | currency:'INR'}}</td>
            <td>{{d.ETIME | date: 'dd/MM/yyyy'}} / {{d.ETIME | date:"HH:mm"}}</td>
            <td>{{d.REMARK}}</td>
            <!-- <td >{{d.S_REMARK}}</td> -->
            <!-- <td><span [style.background-color]="d.STATUS==false ? 'red' : 'green'" class="dot"></span></td> -->
          </tr>
        </tbody>
      </table>
    </ion-card>

  </ion-content>
</ion-app>