<ion-content  class="padding-none">
  <ion-grid  class="ion-padding for-app">
    <ion-row color="primary" justify-content-center class="padding-none">
      <ion-col size-md="10" size-lg="9" size-xs="12" class="padding-none">

        <ion-card class="SB" >
          <form>
            <ion-row color="primary" justify-content-center>
              <ion-col size-md="3" size-lg="3" size-xs="1" >
               
              </ion-col>
              
              <ion-col size-md="3" size-lg="2" size-xs="3" class="FTH " (click)="flight()" [ngClass]="[isAfterF?'FTHActive':'!FTHActive']">
                <p>
                  <span></span> One Way
                </p>
              </ion-col>
              <ion-col size-md="3" size-lg="2" size-xs="3" class="FTH " (click)="train()" [ngClass]="[ isAfterT?'FTHActive':'!FTHActive']">
                <p>
                  <span></span>Round Trip
                </p>
              </ion-col>
              <ion-col size-md="3" size-lg="2" size-xs="3" class=" FTH " (click)="hotel()" [ngClass]="[ isAfterH?'FTHActive':'!FTHActive']">
                <p>
                  <span></span> Multi Trip
                </p>
              </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center  >
              <ion-col size-md="4" size-lg="4" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Select Departure City</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="4" size-lg="4" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Select Arrival City</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
          

           
              <ion-col size-md="4" size-lg="4" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Select Departure Date</ion-label>
                  <ion-datetime></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size-md="3" size-lg="3" size-xs="12">
                
              </ion-col>
            
              <ion-col size-md="6" size-lg="6" size-xs="12">
                <button class="submit-btn" type="submit"><span class="material-icons">search</span> Search
                  Train</button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>