<ion-content  class="padding-none">
    <ion-grid  class="ion-padding for-app">
      <ion-row color="primary" justify-content-center class="padding-none">
        <ion-col size-md="10" size-lg="9" size-xs="12" class="padding-none">
          
  
        
  
  
  
  
          <ion-card class="SB">
            <form>
              <ion-row color="primary" justify-content-center class="ion-padding">
                <ion-col size-md="12" size-lg="12" size-xs="12">
                  <ion-radio-group>
                    <ion-radio value="1" (click)="show==0?show=0:show=0"></ion-radio>
                    <ion-label>One way</ion-label>
                    <ion-radio value="2" (click)="show==1?show=1:show=1"></ion-radio>
                    <ion-label>Round Trip</ion-label>
                    <ion-radio value="3" (click)="show==1?show=1:show=1"></ion-radio>
                    <ion-label>Multi Trip</ion-label>
                  </ion-radio-group>
                </ion-col>
              </ion-row>
  
              <ion-row color="primary" justify-content-center  >
                <ion-col size-md="6" size-lg="6" size-xs="12">
                  <ion-item>
                    <ion-label position="floating">Select Departure City</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-xs="12">
                  <ion-item>
                    <ion-label position="floating">Select Arrival City</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
            
  
             
                <ion-col size-md="6" size-lg="6" size-xs="12">
                  <ion-item>
                    <ion-label position="floating">Select Departure Date</ion-label>
                    <ion-datetime></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-xs="12">
                  
                </ion-col>
              
                <ion-col size-md="7" size-lg="6" size-xs="12">
                  <button class="submit-btn" type="submit"><span class="material-icons">search</span> Search
                    Train</button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card>
  
  
  
  
         
  
  
        </ion-col>
      </ion-row> 
    </ion-grid>
  </ion-content>